<section class="l_cassette l_cassette__tw" id="campaign">
	<div class="cassette cassette__tw js_scrollevent">
		<div class="cassette_head">
			<h2 class="cassette_head_ttl">「＃色せか<span>感</span>想キャンペーン」<br class="u_spblake"><span>T</span>witterで実施中</h2>
			<div class="cassette_head_sub"><span>C</span>ampaign <span>O</span>utline &amp; <span>T</span>erms</div>
		</div>
		<div class="cassette_body">
			<div class="l_campaign">
				<div class="campaign">
					<div class="campaign_txt">本作品をみて感想を<br class="u_spblake">Twitterで投稿しよう！<br>抽選で4名の方に豪華アートボードと<br class="u_spblake">声優サイン入り色紙をプレゼント<br>※アートボードの絵柄はお選び<br class="u_spblake">いただけませんので予めご了承ください。</div>
					<div class="campaign_flow">
						<div class="campaign_flow_inner">①色彩検定協会 Twitter公式アカウント<br class="u_spblake">（<a href="{{ sitedata.twurl }}" target="_blank">@shikisai_kentei</a>）をフォロー</div>
						<div class="campaign_flow_inner">②ハッシュタグ<br class="u_spblake">「<a href="https://twitter.com/intent/tweet?url=https://www.aft.or.jp/shikisaigakuen2022/&hashtags=%E8%89%B2%E3%81%9B%E3%81%8B%E6%84%9F%E6%83%B3%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%9A%E3%83%BC%E3%83%B3" target="_blank">#色せか感想キャンペーン</a>」と<br class="u_spblake">アニメの感想をつけて<br>対象のツイートを引用RT</div>
					</div>
					<div class="campaign_period">
						<div class="campaign_period_ttl">申込期間</div>
						<div class="campaign_period_body">2022年8月18日（木）～<br class="u_spblake">2022年9月7日（水）23：59</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cassette_foot">
			<div class="cassette_foot_inner">
				<div class="l_grbtn l_grbtn__pl">
					<a href="#js_detail" class="grbtn grbtn__pl js_modalbtn">
						<div>応募概要&amp;規約を読む</div>
					</a>
				</div>
				<div class="l_twdetail" id="js_detail">
					<div class="twdetail">
						<div class="twdetail_head">
							<div class="twdetail_head_ttl">応募<span>概</span>要&amp;規約</div>
							<div class="twdetail_head_sub"><span>C</span>ampaign <span>O</span>utline &amp; <span>T</span>erms</div>
						</div>
						<div class="twdetail_body">
							【期間】<br>
							2022年8月18日（木）11:00 ～ 2022年9月7日(水) 23:59<br><br>
							【賞品・人数】<br>
							・出演声優２名（山下大輝さん・東山奈央さん）のサイン入り色紙１枚<br>
							・豪華イラストレーターのアートボード（A3サイズ）１点<br><br>
							上記２点セットを抽選で４名様にお送りします。<br><br>
							【応募方法】<br>
							以下の手順に従って、ご応募いただけます。<br>
							1.Twitterアカウント「色彩検定協会（<a href="{{ sitedata.twurl }}" target="_blank">@shikisai_kentei</a>）」をフォロー。<br>
							2.ハッシュタグ「#色せか感想キャンペーン」を付けて、アニメの感想とともに該当のツイートを引用リツイート。<br><br>
							【抽選・結果発表】<br>
							抽選の上、当選者を決定いたします。<br>
							応募時に使用されたTwitterアカウントへのDM（ダイレクトメッセージ）にて当選通知と発送先登録フォームURLを送信させていただきます。DMに記載されている期日までに登録登録してください。<br><br>
							利用規約<br>
							ご応募いただく前に、キャンペーン概要と合わせてご確認ください。<br>
							ご応募いただいた方は、掲示されている各事項を理解いただき、本規約に「同意」したとみなさせていただきます。<br><br>
							【キャンペーンについて】<br>
							・本キャンペーンは、Twitter社が関係するものではありません。<br>
							・本キャンペーンは、公益社団法人　色彩検定協会（以下、当社）が主催するキャンペーンです。<br>
							・本キャンペーンは、事前に通知することなく、システムメンテナンスや不具合等により中止・中断・終了することがあります。<br>
							・本キャンペーンへの応募には、Twitterアカウントが必要となります。<br>
							・当選された方には、Twitterアカウントへ当社アカウントよりDM（ダイレクトメッセージ）でご連絡いたします。<br>
							・当選者の発表は、当選者のみにご連絡させていただきます。<br><br>
							【応募資格】<br>
							・日本国内在住の方（本キャンペーンの関係者は応募できません）<br>
							・この規約に同意された方<br>
							・Twitterアカウントを保有し、当社指定アカウントをフォローされている方。<br>
							※1応募者1Twitterアカウントでの応募とさせていただきます。<br>
							※13歳未満でTwitterアカウントを保有できない場合、保護者の方が応募資格を満たして代理で応募することが可能です。<br>
							※15歳未満のお客さまは、保護者の同意が必要です。保護者の方に本規約に同意してもらってください。15歳未満のお客さまからの応募は、すべて保護者の同意を得たものとみなします。<br>
							※Twitterアカウントが非公開設定になっている方、ツイートが検索対象外となっている方、ご応募いただいた投稿を削除された方は、応募が無効となりますのでご注意ください。<br>
							※賞品発送時点まで当社指定アカウントをフォローしている必要があります。<br>
							※Twitterアカウントをお持ちでない方は、アカウントを作成して応募してください。アカウント作成にあたっては、ご自身でTwitterの利用規約などをご確認ください。Twitter（<a href="https://twitter.com/" target="_blank">https://twitter.com/</a>）<br><br>
							【禁止事項】<br>
							応募を通じて、以下の事項に該当するアカウントからの応募は無効とさせていただく場合があります。<br>
							また当選後に判明した場合も、当選権利を無効とさせていただく場合があります。<br>
							・Twitterの利用規約に違反している。<br>
							・自動プログラムを利用して応募。<br>
							・複数のTwitterアカウントからの応募。<br>
							・代理応募。（親族の代理応募も禁止となります）<br>
							・本キャンペーンの運営を妨げる行為。<br>
							・特定の団体や個人に対する誹謗中傷。<br>
							・公序良俗に反する行為。<br>
							・宣伝及び勧誘行為。<br>
							・その他、運営事務局が不適切だと判断した行為。<br><br>
							【賞品について】<br>
							・賞品の種別については、選ぶことはできません。<br>
							・賞品の変更は不可となっております。<br>
							・当選した権利は、ご本人のみ有効とし第三者に譲渡することはできません。<br>
							・賞品の転売はしないでください。<br><br>
							【個人情報の取扱いについて】<br>
							・応募いただいた情報や登録フォームからいただいた情報は、賞品発送の為に利用いたします。<br>
							・賞品発送業務は協力会社に委託することがあります。<br>
							・いただいた情報は、個人を特定しない形で当社のマーケティング活動に利用させて頂く場合があります。<br>
							・賞品発送が確認できましたら、一定期間を経過後に破棄させていただきます。<br>
							・当社の個人情報保護方針はこちら（URL：<a href="https://www.aft.or.jp/pages/ppolicy" target="_blank">https://www.aft.or.jp/pages/ppolicy</a>）からご確認お願いいたします。<br><br>
							【賞品発送について】<br>
							・賞品発送は、当選連絡後２ヶ月以内を予定しています。<br>
							・賞品発送は、日本国内のみとなります。<br>
							・賞品受け取りの日や時間指定などはできません。<br>
							・賞品は、当社指定業者から発送させていただきます。<br>
							・発送状況のお問い合わせには、回答できません。<br>
							・住所の不明、連絡不能、記載不備などの理由により賞品を配送できない場合や、その他の事情により一定期間を経過しても受け取りをされなかった方は、当選の権利を無効とさせていただく場合があります。<br><br>
							【その他の注意事項】<br>
							・本キャンペーンに関して応募者に発生したいかなる損害についても、当社は一斉責任を負いません。<br>
							・応募に関わる通信料及び接続費などの諸経費は、応募される方の負担となります。<br>
							・機種・OS・ブラウザ等の理由により一部のPC、スマートフォン、タブレット等では、ご応募いただけない場合もございます。<br>
							・Twitterの設定や使い方については、Twitter社にお問い合わせください。<br>
							・本キャンペーンに当選された方は、同時期に当社が実施する他のキャンペーンに重複当選できない場合があります。<br>
							・キャンペーン応募の対象投稿に不備があった場合は、投稿を削除することがあります。また削除された投稿に応募いただいた場合は、応募は無効とさせていただきます。予めご了承をお願いいたします。<br>
							・今回のキャンペーンはTwitterのプラットフォーム及びAPIを利用しております。システム障害などが発生し、応募が正常に行われない場合があります。障害発生時の応募は、運営側でも確認ができない応募なりますので、無効とさせていただきます。予めご了承をお願いいたします。<br>
							・本キャンペーンはキャンペーンを円滑に進める為、キャンペーン用システムを導入して運用をしております。利用システムに障害などが発生し、応募が正常に行われない場合があります。万が一障害が発生した場合、障害発生中の応募は、運営側でも確認ができないため無効とさせていただきます。予めご了承をお願いいたします。<br>
							・本キャンペーンの内容は、予告なく変更する場合があります。また、本応募規約は、当社の判断により随時改訂することができるものとします。この場合、当社の公式Twitter上で通知することにより、キャンペーン内容の変更または本応募規約の改訂を随時告知します。告知後は、当該変更または改訂された内容が、本キャンペーンの全ての応募者の方と当社との間で適用されるものとします。<br>
							・本応募規約の解釈および運用は日本法に準拠するものとします。<br><br>
							【お問い合わせ先】<br>
							Eメールアドレス：aft-campaign2022@asakonet.co.jp<br>
							受け付け期間：2022年8月18日（木）12：00〜 2022年10月31日（月） 23：59<br>
							※頂戴したお問い合わせにつきましては、平日9:00～17:00に拝見し、順次対応しております。<br>
							　土日・祝日は業務をお休みさせていただいておりますので、返信が遅れる場合がございます。<br>
							※SNSアカウントでのお問い合わせは受け付けておりません。<br>
							※応募の有効無効、当落について、賞品発送状況のお問い合わせには、回答できません。
						</div>
						<div class="twdetail_foot">
							<div class="l_grbtn l_grbtn__pl l_grbtn__small">
								<a href="{{ sitedata.twurl }}" class="grbtn grbtn__pl" target="_blank">
									<div>色彩検定公式Twitterへ</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>