<ul class="l_character js_scrollevent" id="js_character">
	<li class="is_show" id="js_chara01">
		<div class="character character__type01">
			<div class="character_inner">
				<picture>
					<source media="{{ sitedata.maxW }}" srcset="{{ sitedata.imgpath }}img_chara01_sp.png">
					<img src="{{ sitedata.imgpath }}img_chara01.png" alt="">
				</picture>
			</div>
			<div class="character_inner">
				<div class="character_inner_name">
					<div>北山<span>緋</span>彩</div>
					<div><span>H</span>iiro <span>K</span>itayama</div>
				</div>
				<div class="character_inner_txt">専門学校でデザインを学んでいる。<br>同級生が将来のために<br class="u_spblake">行動する中で迷う彼は、<br>気になる会社のインタビュー動画を見つける。</div>
				<div class="character_inner_cv">
					<div>
						<div>山下<span>大</span>輝<a href="https://twitter.com/DaiKing_boy" target="_blank"></a></div>
						<div><span>D</span>aiki <span>Y</span>amashita</div>
					</div>
					<div>
						<img src="{{ sitedata.imgpath }}pic_cv01.jpg" alt="">
					</div>
				</div>
				<div class="character_inner_comment">
					<div class="l_grbtn l_grbtn__bl">
						<a href="#js_comment1" class="grbtn grbtn__bl grbtn__small js_modalbtn">
							<div>特別インタビュー</div>
						</a>
					</div>
					<div class="l_comment" id="js_comment1">
						<div class="comment">
							<div class="comment_head">
								<div class="comment_head_ttl">山下<span>大</span>輝<br class="u_spblake"> 特別<span>イ</span>ンタビュー</div>
								<div class="comment_head_sub"><span>D</span>aiki <span>Y</span>amashita <span>S</span>pecial <span>I</span>nterview</div>
							</div>
							<div class="comment_body">
								<div class="comment_body_ttl">――山口先生の作品「ブルーピリオド」のアニメにも出演されている山下さん。今回の山口先生×CloverWorksによるアニメーション動画のオファーを聞いた時はどのように感じましたか？</div>
								<div class="comment_body_txt">すごく力が入ってるな、と思いました。プロの漫画家さんとプロのアニメスタジオさんのタッグで作るところに本気度を感じましたし、完成が楽しみだなと思いましたね。あと山口先生の個性的で分かりやすい絵が個人的にすごく好きなので、漫画のブルーピリオドもがっつり読ませていただいてまして。先生が描く違うキャラクターはどんな風になるんだろうなと非常に楽しみでした。</div>

								<div class="comment_body_ttl">――収録時の印象に残っている出来事や、動画の見どころについてお聞かせください。</div>
								<div class="comment_body_txt">動画のストーリーを見て、きっかけっていろんなところに転がっているんだなと思いました。普段見ていないところで実はこんな工夫がされていたり…というような視点が新鮮でした。たまに街を歩いていると、すごく目を引くものがあって「なんかいいな」と思ってもそのまま過ぎてしまうことがあるのですが、この「なんかいいな」をさらに深堀していくと自分のパワーになるのかなと改めて思いました。「私の仕事篇」でディスプレイの色合いに一目惚れするシーンがあるのですが、同じ出来事が実際にもあって。銀座のガラス張りになってるところのレイアウトがシーズンごとに変わっていて、ディスプレイが毎回いいな、と(笑)。宇宙飛行士がいて、色合いがすごく綺麗で素敵だなと思って写真を撮った記憶があります。そういうところで目を引くことはとても大変なことですが、誰かの力になるぐらいすごく大切なことなんだなと思います。僕自身もグッズとかを選ぶ機会があるのですが、そういった時に「自分は良いと思うけど周りの人はどう思うのだろう」という感覚を今後色々考えていけたらなと、改めて自分を振り返ることができました。</div>

								<div class="comment_body_ttl">――本動画は、悩みを抱える主人公たちが色彩検定を通して未来を切り開く物語です。声優のお仕事で山下さんがこれまでに一番悩んだ、または辛かったエピソードを教えてください。また、辛いことがあった時は、どのようにして乗り越えていますか？</div>
								<div class="comment_body_txt">辛いなと思っているところを乗り越えたら、その辛さも楽しくなっていくというか、辛いままで終わらないというか、終わらせたくないみたいなところがあって(笑)。辛いまま終わってしまったら嫌だなということは、どうにか自分で楽しくできたらいいなと思っています。でも、シンプルに叫びの演技が重なったりすると喉的にしんどい。そういう時は、悔しいなとは思うのですが、自分の体のことだから正直どうにもならないというか…。その後しっかりご飯を食べて、休息するとか、仕事を重ねる度に自分のキャパシティーを知ってどう向き合っていくか、というところだと思います。自分的には、大変だなと思った日は我慢せず自分へのご褒美で好きなものを好きなだけ食べる、ということをしていると、割と心も体もポジティブに前向きになれているなと思いますね。もうバッカみたいに食べまくる。「疲れたな～！」という時はもう値段とか見ず「これー！」みたいな(笑)。そんな感じで食べた方が、気持ちも晴れやかになりますね。</div>

								<div class="comment_body_ttl">――作中では、同級生にどんどん先を越され、未来に焦りを感じる就活生を演じていただきました。山下さんの性格や過去の経験など、主人公と重なるところはありましたか？</div>
								<div class="comment_body_txt">父がテニスのコーチをしているので、本当に小さいころからテニスばかりやっていたんです。身長がそこまで大きくないのですが、周りは中学生・高校生になってくると、体がどんどん大きくなってくるんですよ。やはり体が大きい方が必然的にパワーもあるし、コート上からの色んなアプローチの仕方も、大きければ大きいほど自由になっていく、みたいなところが目に見えて分かっていって。最初のうちは勝てていた子が、いきなり大きくなって強くなっていって高校の時には負けてしまうとか、結構そういう悔しいことがあったので、その経験は主人公ともリンクするなと思います。でもどうしようもないというか…なかなかそこから巻き返せないというか、歯がゆい思いは結構あったので、主人公の焦りは分かるなと思いましたね。そこからの気持ちの切り替え方は、各々で見つけるしかないなと思いますし、でも周りからのサポートもあると思うので、それぞれに合う道というものが、これだけじゃない道みたいなものがあるんだなと思います。</div>

								<div class="comment_body_ttl">――色彩を学ぶみなさんに、応援メッセージをお願いします。</div>
								<div class="comment_body_txt">僕には分からない、すごく複雑でそしてめちゃくちゃ面白い世界なんだろうなとは思います。道は違えど繋がっているような気もしていて、僕も努力していつか皆さんと一緒にお仕事できる日が来たらいいなと思います。もしこのメッセージを聞いている人がいつか未来で一緒に仕事ができる日があったら、その時は是非「あの時のやつ聞いてました！」なんて言ってもらえたらすごく嬉しいです。是非その時は一緒に楽しい仕事をしましょう。</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li id="js_chara02">
		<div class="character character__type02">
			<div class="character_inner">
				<picture>
					<source media="{{ sitedata.maxW }}" srcset="{{ sitedata.imgpath }}img_chara02_sp.png">
					<img src="{{ sitedata.imgpath }}img_chara02.png" alt="">
				</picture>
			</div>
			<div class="character_inner">
				<div class="character_inner_name">
					<div>南 <span>七</span>世</div>
					<div><span>N</span>anase <span>M</span>inami</div>
				</div>
				<div class="character_inner_txt">希望した業界で<br class="u_spblake">やりがいを感じながら仕事をしている。<br>クライアントの要望も<br class="u_spblake">上手く実現できていると考えていたが、<br>会議室で変更を言い渡されてしまう。</div>
				<div class="character_inner_cv">
					<div>
						<div>東山<span>奈</span>央<a href="https://twitter.com/naobou_official" target="_blank"></a></div>
						<div><span>N</span>ao <span>T</span>oyama</div>
					</div>
					<div>
						<img src="{{ sitedata.imgpath }}pic_cv02.jpg" alt="">
					</div>
				</div>
				{% if param.chara != true %}
				<div class="character_inner_comment">
					<div class="l_grbtn l_grbtn__pn2">
						<a href="#js_comment2" class="grbtn grbtn__pn2 grbtn__small js_modalbtn" target="_blank">
							<div>特別インタビュー</div>
						</a>
					</div>
					<div class="l_comment" id="js_comment2">
						<div class="comment comment__type2">
							<div class="comment_head">
								<div class="comment_head_ttl">東山<span>奈</span>央 <br class="u_spblake">特別<span>イ</span>ンタビュー</div>
								<div class="comment_head_sub"><span>N</span>ao <span>T</span>oyama <span>S</span>pecial <span>I</span>nterview</div>
							</div>
							<div class="comment_body">
								<div class="comment_body_ttl">――今回の山口先生×CloverWorksによるアニメーション動画のオファーを聞いた時はどのように感じましたか？</div>
								<div class="comment_body_txt">豪華なお二組による作品にお声がけいただけて嬉しく思いましたし、元々色彩検定の名前を知っていて私も気になっていましたが一歩踏み出せないところにいたので、今回このご縁をいただけてすごく嬉しく思いました。</div>

								<div class="comment_body_ttl">――収録時の印象に残っている出来事や、動画の見どころについてお聞かせください。</div>
								<div class="comment_body_txt">主人公の元気のない時と一念発起して頑張ろうと思った時のギャップを描いたシーンは何度かテイクを重ねさせていただいたところだったので、やはりこだわられているのだなと感じました。皆さんが見ていて、落ち込んでしまった時に立ち上がる勇気になるような、パワーが届けられるアニメーションになっていたらいいなと思います。今回主人公が社会人三年目ということで、自分が三年目の時にどんなことをしてたかなと思い返すと、まだ自分のことでいっぱいいっぱいだったので、誰かの間に入って仕事をとりなす主人公は偉いなと思いました。なかなか自分の考えだけでは進まない時もあるでしょうし、だけどまだ仕事としては一人前にもなり切れずに、色んな方の板挟みになって結構大変な時だろうなと思って。かといって、もう誰かの元でアシスタントとして何かをするというよりは、一人で行動することの方が増えてくると思うので、色々心細い場面もあるとは思いますが、頑張っている姿に私も励まされましたし、「頑張れ～！」という風に思いながら彼女を見ていました。</div>

								<div class="comment_body_ttl">――本動画は、悩みを抱える主人公たちが色彩検定を通して未来を切り開く物語です。声優のお仕事で東山さんがこれまでに一番悩んだ、または辛かったエピソードを教えてください。また、辛いことがあった時は、どのようにして乗り越えていますか？</div>
								<div class="comment_body_txt">自信が持てない時が辛いなと思いますね。傍目から見ると、私は結構デビューも早くて順風満帆に見えているかもしれないんですけど、その実自分になかなか自信が持てなくて、場数踏ませていただいても、それが自信に繋がりにくいタイプみたいで、それがハングリー精神になってくれることもあれば、心が折れてしまう場面というのも多くて。ずっとなりたくて目指していた声優という楽しい世界に今いるはずなのに、どこか自信がないせいで疑心暗鬼になってしまうというのが続いていた時がやはり苦しかったです。今でもそういう風に思うこともあります。やっぱり芸事って上を見ればきりがないといいますか、やっとできることが増えてきて自信がついたと思っても、周りを見渡すともっとすごい人たちがいて、私ってまだこんなところにいるんだと二の足を踏んだり、ちっぽけに思えたりすることもあって。だからこそ頑張ろうと思うんですけど、その間にいる時が苦しいのは、役者にはずっとついて回るものかもしれないですね。そういう時に一回全然関係ないテレビをぼーっと見てみたり、他の楽しいことに興じてみたりしてリフレッシュすることもありますが、私としてはそれは現実逃避にしかならなくて、逆にその時間を問題解決の時間に充てれば良かったのでは！と考えてまたストレスになったりもするので、リフレッシュはそこそこにして、自分の心がへこんでいる原因ときちんと向き合って、何とかそこを攻略する、克服するというのが一番ストレスの解消になるのかなと思います。自分の努力でどうにもならないものもあると思うんですけど、なんとかなるものに関してはそういう風に、頑張る、ひたすら頑張るという風にして前に進んでいます。</div>

								<div class="comment_body_ttl">――作中では、クライアントとデザイナーの板挟みになり翻弄される施工会社の社員を演じていただきました。東山さんの性格や過去の経験などで、主人公と重なるところはありましたか？</div>
								<div class="comment_body_txt">自分が板挟んでいるなという時もあるし、自分が板挟まれてるなという時もあるし、皆さんも生活の中で両方の立場になることがあると思うんですけど、両方の立場を経験することで、双方ともに信念があるんだということも知ることができますよね。私はマネージャーさんが円滑に回してくださることによって板挟みから救われているので、影のヒーローだなと思っています。そういう風に自分も板挟まれたときに上手に立ち回ることができたらいいなと思って、良いところを盗めたらと思いながら見ていたりします。でも間に立つ方にもその道プロフェッショナルがいらっしゃると思うので、自分も少しでも良いところを真似できたらと思うんですけど、なかなか上手にできなかったりもして、これはもう人生をかけての勉強だなと思いながら日々過ごしております。</div>

								<div class="comment_body_ttl">――色彩を学ぶみなさんに、応援メッセージをお願いします。</div>
								<div class="comment_body_txt">色彩検定のHPを拝見させていただいて、胸に残ったのが「センスは育てることができる」という言葉でした。どうせこの人はセンスがいいからこういうコーディネーションができるんだろう、という風に思ってしまわないで、センスは後からどんどん育てていくことができるんだ、ということにすごくハッとさせられました。私自身、音楽活動もやっているので、そこで衣装やCDのデザインにどっちがいい？と聞かれることがあるのですが、その時になんとなくの感覚でしか伝えることができなくて。私は色彩のプロではないですけど、やはり仕事に絡んでくることもあるので、もしかしたら色彩について学んだら自分の気持ちをもっとはっきり伝えられるのかも、そういう手段が一つ増えるのかも、という風に思って、今回のご縁をいただいて、興味が湧いて私も挑戦してみたいなという風に思ったんですね。皆さんの仕事の中でもし関わりがあまりないかも、という業種の方も、例えば趣味でネイルサロンに行かれる方とか、ネイリストさんのセンスだけではなくて、もっとこういう風にしてみたいという風に自分の理想をうまく伝えることができたら日々のテンションも上がっていく、楽しいものになっていくと思います。生きていて色から離れることはあまりないと思うので、色彩をプロフェッショナルとして学ばれる方もそうでない方も、より日々を楽しく彩っていくために色彩検定で人生が明るくなっていったらすごくいいなと、今回がその一つのきっかけになっていただけたら私もすごく嬉しいなと思いました。</div>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</li>
	<li class="is_arrow">
		<a href="#" class="character character__arrow" id="js_charaarrow"></a>
	</li>
</ul>