<div class="l_comment" id="js_comment1">
	<div class="comment">
		<div class="comment_head">
			<div class="comment_head_ttl">山下<span>大</span>輝<br class="u_spblake"> 特別<span>イ</span>ンタビュー</div>
			<div class="comment_head_sub"><span>D</span>aiki <span>Y</span>amashita <span>S</span>pecial
				<span>I</span>nterview</div>
		</div>
		<div class="comment_body">
			<div class="comment_body_ttl">――収録時の印象に残っている出来事や、動画の見どころについてお聞かせください。</div>
			<div class="comment_body_txt">
				動画のストーリーを見て、きっかけっていろんなところに転がっているんだなと思いました。普段見ていないところで実はこんな工夫がされていたり…というような視点が新鮮でした。たまに街を歩いていると、すごく目を引くものがあって「なんかいいな」と思ってもそのまま過ぎてしまうことがあるのですが、この「なんかいいな」をさらに深堀していくと自分のパワーになるのかなと改めて思いました。「私の仕事篇」でディスプレイの色合いに一目惚れするシーンがあるのですが、同じ出来事が実際にもあって。銀座のガラス張りになってるところのレイアウトがシーズンごとに変わっていて、ディスプレイが毎回いいな、と(笑)。宇宙飛行士がいて、色合いがすごく綺麗で素敵だなと思って写真を撮った記憶があります。そういうところで目を引くことはとても大変なことですが、誰かの力になるぐらいすごく大切なことなんだなと思います。僕自身もグッズとかを選ぶ機会があるのですが、そういった時に「自分は良いと思うけど周りの人はどう思うのだろう」という感覚を今後色々考えていけたらなと、改めて自分を振り返ることができました。
			</div>
			<div class="comment_body_ttl"
				――本動画は、悩みを抱える主人公たちが色彩検定を通して未来を切り開く物語です。声優のお仕事で山下さんがこれまでに一番悩んだ、または辛かったエピソードを教えてください。また、辛いことがあった時は、どのようにして乗り越えていますか？</div>
				<div class="comment_body_txt">
				辛いなと思っているところを乗り越えたら、その辛さも楽しくなっていくというか、辛いままで終わらないというか、終わらせたくないみたいなところがあって(笑)。辛いまま終わってしまったら嫌だなということは、どうにか自分で楽しくできたらいいなと思っています。でも、シンプルに叫びの演技が重なったりすると喉的にしんどい。そういう時は、悔しいなとは思うのですが、自分の体のことだから正直どうにもならないというか…。その後しっかりご飯を食べて、休息するとか、仕事を重ねる度に自分のキャパシティーを知ってどう向き合っていくか、というところだと思います。自分的には、大変だなと思った日は我慢せず自分へのご褒美で好きなものを好きなだけ食べる、ということをしていると、割と心も体もポジティブに前向きになれているなと思いますね。もうバッカみたいに食べまくる。「疲れたな～！」という時はもう値段とか見ず「これー！」みたいな(笑)。そんな感じで食べた方が、気持ちも晴れやかになりますね。
			</div>
			<div class="comment_body_ttl"
				――作中では、同級生にどんどん先を越され、未来に焦りを感じる男性就活生の主人公Mを演じていただきました。山下さんの性格や過去の経験など、主人公Mと重なるところはありましたか？</div> <div
				class="comment_body_txt">
				父がテニスのコーチをしているので、本当に小さいころからテニスばかりやっていたんです。身長がそこまで大きくないのですが、周りは中学生・高校生になってくると、体がどんどん大きくなってくるんですよ。やはり体が大きい方が必然的にパワーもあるし、コート上からの色んなアプローチの仕方も、大きければ大きいほど自由になっていく、みたいなところが目に見えて分かっていって。最初のうちは勝てていた子が、いきなり大きくなって強くなっていって高校の時には負けてしまうとか、結構そういう悔しいことがあったので、その経験は主人公ともリンクするなと思います。でもどうしようもないというか…なかなかそこから巻き返せないというか、歯がゆい思いは結構あったので、主人公の焦りは分かるなと思いましたね。そこからの気持ちの切り替え方は、各々で見つけるしかないなと思いますし、でも周りからのサポートもあると思うので、それぞれに合う道というものが、これだけじゃない道みたいなものがあるんだなと思います。
			</div>
			<div class="comment_body_ttl">――色彩を学ぶみなさんに、応援メッセージをお願いします。</div>
			<div class="comment_body_txt">
				僕には分からない、すごく複雑でそしてめちゃくちゃ面白い世界なんだろうなとは思います。道は違えど繋がっているような気もしていて、僕も努力していつか皆さんと一緒にお仕事できる日が来たらいいなと思います。もしこのメッセージを聞いている人がいつか未来で一緒に仕事ができる日があったら、その時は是非「あの時のやつ聞いてました！」なんて言ってもらえたらすごく嬉しいです。是非その時は一緒に楽しい仕事をしましょう。
			</div>
		</div>
	</div>
</div>