<div class="l_comment" id="js_comment2">
	<div class="comment comment__type2">
		<div class="comment_head">
			<div class="comment_head_ttl">東山<span>奈</span>央 特別<span>イ</span>ンタビュー</div>
			<div class="comment_head_sub"><span>N</span>ao <span>T</span>oyama <span>S</span>pecial
				<span>I</span>nterview</div>
		</div>
		<div class="comment_body">
			<div class="comment_body_ttl">――今回の山口先生×CloverWorksによるアニメーション動画のオファーを聞いた時はどのように感じましたか？</div>
			<div class="comment_body_txt">
				豪華なお二組による作品にお声がけいただけて嬉しく思いましたし、元々色彩検定の名前を知っていて私も気になっていましたが一歩踏み出せないところにいたので、今回このご縁をいただけてすごく嬉しく思いました。
			</div>
			<div class="comment_body_ttl">――収録時の印象に残っている出来事や、動画の見どころについてお聞かせください。</div>
			<div class="comment_body_txt">
				主人公の元気のない時と一念発起して頑張ろうと思った時のギャップを描いたシーンは何度かテイクを重ねさせていただいたところだったので、やはりこだわられているのだなと感じました。皆さんが見ていて、落ち込んでしまった時に立ち上がる勇気になるような、パワーが届けられるアニメーションになっていたらいいなと思います。今回主人公が社会人三年目ということで、自分が三年目の時にどんなことをしてたかなと思い返すと、まだ自分のことでいっぱいいっぱいだったので、誰かの間に入って仕事をとりなす主人公は偉いなと思いました。なかなか自分の考えだけでは進まない時もあるでしょうし、だけどまだ仕事としては一人前にもなり切れずに、色んな方の板挟みになって結構大変な時だろうなと思って。かといって、もう誰かの元でアシスタントとして何かをするというよりは、一人で行動することの方が増えてくると思うので、色々心細い場面もあるとは思いますが、頑張っている姿に私も励まされましたし、「頑張れ～！」という風に思いながら彼女を見ていました。
			</div>
			<div class="comment_body_ttl">
				――本動画は、悩みを抱える主人公たちが色彩検定を通して未来を切り開く物語です。声優のお仕事で東山さんがこれまでに一番悩んだ、または辛かったエピソードを教えてください。また、辛いことがあった時は、どのようにして乗り越えていますか？
			</div>
			<div class="comment_body_txt">
				自信が持てない時が辛いなと思いますね。傍目から見ると、私は結構デビューも早くて順風満帆に見えているかもしれないんですけど、その実自分になかなか自信が持てなくて、場数踏ませていただいても、それが自信に繋がりにくいタイプみたいで、それがハングリー精神になってくれることもあれば、心が折れてしまう場面というのも多くて。ずっとなりたくて目指していた声優という楽しい世界に今いるはずなのに、どこか自信がないせいで疑心暗鬼になってしまうというのが続いていた時がやはり苦しかったです。今でもそういう風に思うこともあります。やっぱり芸事って上を見ればきりがないといいますか、やっとできることが増えてきて自信がついたと思っても、周りを見渡すともっとすごい人たちがいて、私ってまだこんなところにいるんだと二の足を踏んだり、ちっぽけに思えたりすることもあって。だからこそ頑張ろうと思うんですけど、その間にいる時が苦しいのは、役者にはずっとついて回るものかもしれないですね。そういう時に一回全然関係ないテレビをぼーっと見てみたり、他の楽しいことに興じてみたりしてリフレッシュすることもありますが、私としてはそれは現実逃避にしかならなくて、逆にその時間を問題解決の時間に充てれば良かったのでは！と考えてまたストレスになったりもするので、リフレッシュはそこそこにして、自分の心がへこんでいる原因ときちんと向き合って、何とかそこを攻略する、克服するというのが一番ストレスの解消になるのかなと思います。自分の努力でどうにもならないものもあると思うんですけど、なんとかなるものに関してはそういう風に、頑張る、ひたすら頑張るという風にして前に進んでいます。
			</div>
			<div class="comment_body_ttl">
				――作中では、クライアントとデザイナーの板挟みになり翻弄される施工会社の女性社員を演じていただきました。東山さんの性格や過去の経験などで、女性主人公と重なるところはありましたか？</div>
			<div class="comment_body_txt">
				自分が板挟んでいるなという時もあるし、自分が板挟まれてるなという時もあるし、皆さんも生活の中で両方の立場になることがあると思うんですけど、両方の立場を経験することで、双方ともに信念があるんだということも知ることができますよね。私はマネージャーさんが円滑に回してくださることによって板挟みから救われているので、影のヒーローだなと思っています。そういう風に自分も板挟まれたときに上手に立ち回ることができたらいいなと思って、良いところを盗めたらと思いながら見ていたりします。でも間に立つ方にもその道プロフェッショナルがいらっしゃると思うので、自分も少しでも良いところを真似できたらと思うんですけど、なかなか上手にできなかったりもして、これはもう人生をかけての勉強だなと思いながら日々過ごしております。
			</div>
			<div class="comment_body_ttl">――色彩を学ぶみなさんに、応援メッセージをお願いします。</div>
			<div class="comment_body_txt">
				色彩検定のHPを拝見させていただいて、胸に残ったのが「センスは育てることができる」という言葉でした。どうせこの人はセンスがいいからこういうコーディネーションができるんだろう、という風に思ってしまわないで、センスは後からどんどん育てていくことができるんだ、ということにすごくハッとさせられました。私自身、音楽活動もやっているので、そこで衣装やCDのデザインにどっちがいい？と聞かれることがあるのですが、その時になんとなくの感覚でしか伝えることができなくて。私は色彩のプロではないですけど、やはり仕事に絡んでくることもあるので、もしかしたら色彩について学んだら自分の気持ちをもっとはっきり伝えられるのかも、そういう手段が一つ増えるのかも、という風に思って、今回のご縁をいただいて、興味が湧いて私も挑戦してみたいなという風に思ったんですね。皆さんの仕事の中でもし関わりがあまりないかも、という業種の方も、例えば趣味でネイルサロンに行かれる方とか、ネイリストさんのセンスだけではなくて、もっとこういう風にしてみたいという風に自分の理想をうまく伝えることができたら日々のテンションも上がっていく、楽しいものになっていくと思います。生きていて色から離れることはあまりないと思うので、色彩をプロフェッショナルとして学ばれる方もそうでない方も、より日々を楽しく彩っていくために色彩検定で人生が明るくなっていったらすごくいいなと、今回がその一つのきっかけになっていただけたら私もすごく嬉しいなと思いました。
			</div>
		</div>
	</div>
</div>