<div class="l_footer">
	<footer class="footer">
		<div class="footer_totop">
			<div class="l_totop">
				<a href="#top" class="totop" id="js_totop">Top</a>
			</div>
		</div>
		<div class="footer_link">
			<a href="https://www.aft.or.jp/pages/tokusho" target="_blank">特定商取引法に基づく表記</a>
			<a href="https://www.aft.or.jp/pages/ppolicy" target="_blank">プライバシーポリシー</a>
		</div>
		<div class="footer_copy">公益社団法人 色彩検定協会<br class="u_spblake">Copyright &copy; All Rights Reserved. <br class="u_spblake">掲載データの無断転載を固く禁じます。</div>
	</footer>
</div>