<div class="l_hero">
	<div class="hero" id="js_hero">
		<div class="hero_img">
			<picture>
				<source media="{{ sitedata.maxW }}" srcset="{{ sitedata.imgpath }}img_hero01_sp.jpg">
				<img src="{{ sitedata.imgpath }}img_hero01.jpg" alt="">
			</picture>
		</div>
		<div class="hero_btn">
			<div class="l_entry">
				<a href="{{ sitedata.entryurl }}" class="entry entry__arrow" target="_blank"><div>冬期受検<br>申し込み<br>受付中！</div></a>
			</div>
		</div>
	</div>
</div>