<div class="l_modal" id="js_modal">
	<div class="modal">
		<div class="modal_main" id="js_modal_main"></div>
		<a href="" class="modal_close" id="js_modalclose"></a>
	</div>
</div>
<div class="l_movmodal" id="js_movmodal">
	<div class="movmodal">
		<div class="movmodal_main" id="js_mov"></div>
		<a href="#" class="movmodal_close" id="js_movclose"></a>
	</div>
</div>