<nav class="nav" id="js_nav">
	<ul class="nav__list">
		<li class="nav__list__item">
			<a href="#" class="nav__list__item__link">コンセプト<div>Concept</div></a>
		</li>
		<li class="nav__list__item">
			<a href="#" class="nav__list__item__link">事業内容<div>Business</div></a>
		</li>
		<li class="nav__list__item">
			<a href="#" class="nav__list__item__link">制作実績<div>Works</div></a>
		</li>
		<li class="nav__list__item">
			<a href="#" class="nav__list__item__link">デザイン事例<div>Design</div></a>
		</li>
		<li class="nav__list__item">
			<a href="#" class="nav__list__item__link">ブログ<div>Blog</div></a>
		</li>
		<li class="nav__list__item">
			<a href="#" class="nav__list__item__link">会社概要<div>Company</div></a>
		</li>
		<li class="nav__list__item nav__list__item--contact">
			<a href="#" class="contactbtn contactbtn--nav">
				<div class="contactbtn__inner"><span>お問い合わせ</span></div>
			</a>
		</li>
	</ul>
</nav>
<a href="#" class="navbtn" id="js_navbtn"></a>