<div class="l_note" id="note">
	<div class="note js_scrollevent">
		<div class="note_head">あなたが普段目にしている<br><span>“色”</span>にも意味があり、<br>あなたもその<br class="u_spblake"><span>影響</span>を受けている。</div>
		<div class="note_body">
			<p>「色」に関する幅広い知識を問う色彩検定は1990年の開始以来、<br>色をもっと楽しんでもらえるような情報を発信し続けています。</p>
			<p>色は当たり前に存在しているけれど、<br>もしあなたが壁にあたったとき、乗り越えるきっかけになるかもしれません。</p>
		</div>
	</div>
</div>