<section class="l_cassette l_cassette__outline" id="outline">
	<div class="cassette cassette__outline js_scrollevent">
		<div class="cassette_head">
			<h2 class="cassette_head_ttl">色彩<span>検</span>定とは？</h2>
			<div class="cassette_head_sub"><span>A</span>bout the <span>A</span>FT</div>
		</div>
		<div class="cassette_body">
			<div class="cassette_body_txt">「色」は身の回りのあらゆるところに存在し、<br>私たちは常にその影響を受けています。<br>色彩検定はそんな色に関する幅広い知識や<br class="u_spblake">技能を問う検定試験。<br>センスや経験に頼らない、<br class="u_spblake">色の活用法を身に付けることができます。</div>
		</div>
		<div class="cassette_foot">
			<div class="cassette_foot_inner">
				<div class="l_grbtn l_grbtn__or">
					<a href="https://www.aft.or.jp/pages/feature" class="grbtn grbtn__or" target="_blank">
						<div>詳しくはこちら</div>
					</a>
				</div>
			</div>
		</div>
		<div class="cassette_head">
			<h2 class="cassette_head_ttl">検定<span>概</span>要</h2>
			<div class="cassette_head_sub"><span>C</span>ertificate <span>O</span>utline</div>
		</div>
		<div class="cassette_body">
			<div class="l_outline">
				<div class="outline">
					<div class="outline_head">
						<h3 class="outline_head_ttl">2022年度<span>冬</span>期検定申込受付中</h3>
					</div>
					<div class="outline_body">
						<div class="outline_body_inner">
							<div class="outline_body_inner_ttl">申込期間</div>
							<div class="outline_body_inner_main">
								8月8日（月）～<br class="u_spblake">10月11日（火）
								<div>※書店申込は10月6日（木）<br class="u_spblake">まで</div>
							</div>
						</div>
						<div class="outline_body_inner">
							<div class="outline_body_inner_ttl">受検日</div>
							<div class="outline_body_inner_main">
								11月18日（日）
								<div>※全級実施。<br class="u_spblake">1級2次は12月18日（日）</div>
							</div>
						</div>
					</div>
					<div class="outline_head">
						<h3 class="outline_head_ttl">公式<span>テ</span>キスト・<span>過</span>去問題集 販売中</h3>
						<div class="outline_head_sub">インターネット通販、<br class="u_spblake">またはお近くの書店にてお求めください。</div>
					</div>
					<div class="outline_body">
						<div class="outline_body_img">
							<img src="{{ sitedata.imgpath }}img_book01.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cassette_foot">
			<div class="cassette_foot_inner">
				<div class="l_grbtn l_grbtn__or">
					<a href="https://www.aft.or.jp/pages/official-product-orders" class="grbtn grbtn__or" target="_blank">
						<div>公式テキストご購入はこちら</div>
					</a>
				</div>
			</div>
			<div class="cassette_foot_inner">
				<div class="l_grbtn l_grbtn__bl">
					<a href="{{ sitedata.entryurl }}" class="grbtn grbtn__bl" target="_blank">
						<div>冬期受検申し込み受付中！</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>