<section class="l_cassette l_cassette__talk" id="talk">
	<div class="cassette cassette__talk js_scrollevent">
		<div class="cassette_head">
			<h2 class="cassette_head_ttl">特別<span>対</span>談</h2>
			<div class="cassette_head_sub"><span>S</span>pecial <span>D</span>ialogue</div>
		</div>
		<div class="cassette_body">
			<div class="l_talk">
				<div class="talk">
					<div class="talk_head">
						<div class="talk_head_inner">
							<div>色彩<span>検</span>定協会</div>
						</div>
						<div class="talk_head_inner">
							<div>Clover<span>W</span>orks</div>
							<div>（アニメーション制作担当）</div>
						</div>
						<div class="talk_head_inner">
							<div>山口<span>つ</span>ばさ</div>
							<div>（漫画家）</div>
						</div>
					</div>
					<div class="talk_body">
						「色」に関する知識を発信する<br class="u_spblake">色彩検定協会と、<br>「色」と深いかかわりを持つ仕事をされている<br class="u_spblake">アニメ制作会社CloverWorks、<br>「色」から切り離せない美術漫画<br class="u_spblake">「ブルーピリオド」を連載する<br class="u_spblake">山口つばさ先生がタッグを組んだ今回の作品。<br>制作途中や普段のお仕事において、<br>色を扱ううえで意識していることなど<br class="u_spblake">お伺いしました。
					</div>
					<div class="talk_foot">
						<div class="l_interview" id="js_interview">
							<div class="interview">
								<div class="interview_head">
									<div class="interview_head_ttl">特別<span>対</span>談</div>
									<div class="interview_head_sub"><span>S</span>pecial <span>D</span>ialogue</div>
								</div>
								<div class="interview_body">
									<div class="interview_body_ttl">――まずは皆さんがどのようなポジショニングで、今回の動画制作に携わったのかをおうかがいできますか？</div>
									<div class="interview_body_txt">
										山中雄市：僕は今回の企画者とも言える立場です。色彩検定協会のひとりとして、皆さんに「こういうことをお願いしたい」と発注をさせていただきました。 <br>山口つばさ：私はキャラクター原案を担当しています。『ブルーピリオド』を連載していることを受けて声をかけてくださったんだろうなとは思っていたので、『ブルーピリオド』の世界や、現実にいるかのようなキャラクターを描きたいなと思っていました。リアリティと漫画っぽさのワクワク感、どちらも大切にしたいと思っているので、そういう感じを出せたらいいなと。人に受け入れられやすいようなデザインにしたいと思っていました。<br>山口舞：私は山口先生の原案を受けて、アニメ用に色を作っていく作業を担当しています。私の場合は、たくさんのスタッフさんにも着色作業をお願いしなければいけないので、キャラクター性が分かりやすいよう、色で表現する、というのも役割のひとつでした。
									</div>
									<div class="interview_body_ttl">――では、本アニメ動画の制作に至った経緯や背景についておうかがいできますか？</div>
								</div>
								<div class="interview_foot">
									<div class="interview_foot_txt">
										<div>全文は<br class="u_spblake"><span>ア</span>ニメイトタイムズにて<br class="u_spblake"><span>公</span>開中</div>
										<div>抽選で5名様にプレゼントが当たる<br class="u_spblake">Twitterキャンペーンも実施中<br>キャンペーン詳細は<br class="u_spblake"><span>アニメイトタイムズ</span>にてご確認ください。</div>
									</div>
									<div class="interview_foot_btn">
										<div class="l_grbtn l_grbtn__gr">
											<a href="#js_interview" class="grbtn grbtn__gr js_modalbtn" target="_blank">
												<div>アニメイトタイムズで全文を読む</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cassette_foot">
			<div class="cassette_foot_inner">
				<div class="l_grbtn l_grbtn__gr">
					<a href="#js_interview" class="grbtn grbtn__gr js_modalbtn">
						<div>対談を読む</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>