.l_footer {
	margin: 200px 0 0;
	position: relative;

	@media (max-width: $max_w) {
		margin: 140px 0 0;
	}
}

.footer {
	.footer_link {
		width: 90%;
		margin: auto;
		text-align: center;

		>a {
			margin: 0 30px;
			display: inline-block;
			line-height: 1;
			text-decoration: underline;

			@media (max-width: $max_w) {
				margin: 0 10px;
				font-size: 12px;
			}
		}
	}

	.footer_copy {
		margin: 20px 0 0;
		padding: 20px 0;
		font-size: 12px;
		text-align: center;
		line-height: 1;
		letter-spacing: 2px;
		color: #fff;
		background-color: $bk;

		@media (max-width: $max_w) {
			line-height: 1.8;
		}
	}
}

.l_totop {
	z-index: 9989;

	@media (min-width: $min_w) {
		position: fixed;
		right: 80px;
		bottom: 100px;
	}

	@media (max-width: $max_w) {
		position: absolute;
		right: 50%;
		bottom: calc(100% + 30px);
		transform: translateX(50%);
	}
}

.totop {
	padding: 30px 8px 0;
	display: block;
	position: relative;
	font-size: 16px;
	transition: $sec opacity;

	&::before {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 6px;
		right: 50%;
		transform: translateX(50%) rotate(-45deg);
		content: '';
		border-top: 1px solid $bk;
		border-right: 1px solid $bk;
	}

	@media (min-width: $min_w) {
		&:hover {
			opacity: .5;
		}

		&:not(.is_show) {
			opacity: 0;
			pointer-events: none;
		}
	}

	@media (max-width: $max_w) {
		&:active {
			opacity: .5;
		}
	}
}