{% set param = {
page: 'index',
title: '色を知るたび、世界が広くなる。',
ogptype: 'website',
talk: false,
chara: true,
art: '0818'
} %}
{% extends 'module/_layout.njk' %}
{% block content %}
{% include 'module/_hero.njk' %}
{% include 'module/_note.njk' %}
<div class="l_charabtn">
	<div class="charabtn js_scrollevent">
		<a href="#" class="is_current js_charabtn" data-num="1">
			<img src="{{ sitedata.imgpath }}btn_chara01.png" alt="">
			<div>北山緋彩の物語</div>
		</a>
		<a href="#" class="js_charabtn" data-num="2">
			<img src="{{ sitedata.imgpath }}btn_chara02.png" alt="">
			<div>Coming <br class="u_spblake">Soon</div>
		</a>
	</div>
</div>
<div class="l_movie js_scrollevent">
	<div class="movie">
		<a href="js_mov1" class="movie_inner js_movbtn is_show" data-mov="LICL-MOOXlY">
			<img src="{{ sitedata.imgpath }}img_movie01.png" alt="">
		</a>
		<div class="movie_inner movie_inner__disable js_movbtn">
			<img src="{{ sitedata.imgpath }}img_movie00.png" alt="">
		</div>
	</div>
</div>
{% include 'module/_character.njk' %}
{% include 'module/_campaign.njk' %}
{% include 'module/_art.njk' %}
{% include 'module/_outline.njk' %}
{% endblock %}