{% set param = {
page: 'index',
title: '色を知るたび、世界が広くなる。',
ogptype: 'website',
talk: true,
art: '0825'
} %}
{% extends 'module/_layout.njk' %}
{% block content %}
{% include 'module/_hero.njk' %}
{% include 'module/_note.njk' %}
<div class="l_charabtn">
	<div class="charabtn js_scrollevent">
		<a href="#" class="is_current js_charabtn" data-num="1">
			<img src="{{ sitedata.imgpath }}btn_chara01.png" alt="">
			<div>北山緋彩の物語</div>
		</a>
		<a href="#" class="js_charabtn" data-num="2">
			<img src="{{ sitedata.imgpath }}btn_chara02.png" alt="">
			<div>南 七世の物語</div>
		</a>
	</div>
</div>
<div class="l_movie js_scrollevent">
	<div class="movie">
		<a href="js_mov1" class="movie_inner js_movbtn is_show" data-mov="LICL-MOOXlY">
			<img src="{{ sitedata.imgpath }}img_movie01.png" alt="">
		</a>
		<a href="js_mov2" class="movie_inner js_movbtn" data-mov="M7fDqcaDFWM">
			<img src="{{ sitedata.imgpath }}img_movie02.png" alt="">
		</a>
	</div>
</div>
{% include 'module/_character.njk' %}
{% include 'module/_talk.njk' %}
{% include 'module/_campaign.njk' %}
{% include 'module/_art.njk' %}
{% include 'module/_outline.njk' %}
{% endblock %}