{% set param = {
page: 'index',
title: '法人集客にフォーカスしたホームページ制作のご提案を',
ogptype: 'website'
} %}
{% extends 'module/_layout.njk' %}
{% block content %}
<section class="hero" id="js_hero">
	<div class="hero__body">
		<h1 class="hero__body__ttl">法人集客に<br class="spblake">フォーカスした<br>ホームページ制作の<br class="spblake">ご提案を</h1>
		<p class="hero__body__sub">本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキ</p>
	</div>
	<div class="hero__foot">
		<ul class="news">
			<li class="news__item">
				<div class="news__item__date">2000/00/00</div>
				<a href="#" class="news__item__link">タイトルテキストリンクタイトルテキストリンクタイトルテキストリンク</a>
			</li>
		</ul>
	</div>
</section>
<section class="read js_scrollevent">
	<div class="read__inner">
		<h2 class="read__inner__ttl">高クオリティの<br class="spblake">ホームページを<br>お手頃価格でご提供</h2>
		<div class="read__inner__sub">平均受注単価：45～65万円</div>
		<p class="read__inner__txt">弊社は少数精鋭で制作を進めていくため、大手の制作会社と遜色ない高クオリティなホームページを低コストで制作できます。デザインからコーディング・開発まで基本的に全ての工程を自社内で行うため、無駄な中間コストがかかりません。またデザインが良いだけでなく、集客に繋がるようなご提案をいたします。</p>
		<div class="read__inner__btn">
			<a href="#" class="morebtn">
				<div class="morebtn__inner">詳しく見る</div>
			</a>
		</div>
	</div>
</section>
<section class="cassette js_scrollevent">
	<div class="cassette__head">
		<h2 class="cassette__head__ttl">お手頃価格で<br>ご提供</h2>
		<div class="cassette__head__txt">本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト</div>
	</div>
	<div class="cassette__body">
		<ul class="price js_scrollevent">
			<li class="price__item">
				<div class="price__item__inner">
					<picture class="price__item__inner__img">
						<source srcset="img/img_price01_sp.png" media="{{ sitedata.maxW }}">
						<img src="img/img_price01.png" alt="">
					</picture>
				</div>
				<div class="price__item__inner">
					<div class="price__item__inner__ttl" data-num="01">集客を最優先</div>
					<div class="price__item__inner__txt">特徴についての文章特徴についての文章特徴についての文章特徴についての文章特徴についての文章</div>
				</div>
			</li>
			<li class="price__item">
				<div class="price__item__inner">
					<picture class="price__item__inner__img">
						<source srcset="img/img_price02_sp.png" media="{{ sitedata.maxW }}">
						<img src="img/img_price02.png" alt="">
					</picture>
				</div>
				<div class="price__item__inner">
					<div class="price__item__inner__ttl" data-num="02">安価な制作費用</div>
					<div class="price__item__inner__txt">特徴についての文章特徴についての文章特徴についての文章特徴についての文章特徴についての文章</div>
				</div>
			</li>
			<li class="price__item">
				<div class="price__item__inner">
					<picture class="price__item__inner__img">
						<source srcset="img/img_price03_sp.png" media="{{ sitedata.maxW }}">
						<img src="img/img_price03.png" alt="">
					</picture>
				</div>
				<div class="price__item__inner">
					<div class="price__item__inner__ttl" data-num="03">最先端のデザイン</div>
					<div class="price__item__inner__txt">特徴についての文章特徴についての文章特徴についての文章特徴についての文章特徴についての文章</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<section class="cassette cassette--bgimg js_scrollevent">
	<div class="cassette__head">
		<h2 class="cassette__head__ttl">制作実績</h2>
		<p class="cassette__head__txt">本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト</p>
	</div>
	<div class="cassette__body">
		<div class="result js_scrollevent">
			<ul class="result__list" id="js_slider">
				<li class="result__list__item">
					<a href="#" class="result__list__item__link"><img src="img/img_results01.png" alt="制作実績"></a>
				</li>
				<li class="result__list__item">
					<a href="#" class="result__list__item__link"><img src="img/img_results01.png" alt="制作実績"></a>
				</li>
				<li class="result__list__item">
					<a href="#" class="result__list__item__link"><img src="img/img_results01.png" alt="制作実績"></a>
				</li>
				<li class="result__list__item">
					<a href="#" class="result__list__item__link"><img src="img/img_results01.png" alt="制作実績"></a>
				</li>
				<li class="result__list__item">
					<a href="#" class="result__list__item__link"><img src="img/img_results01.png" alt="制作実績"></a>
				</li>
				<li class="result__list__item">
					<a href="#" class="result__list__item__link"><img src="img/img_results01.png" alt="制作実績"></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="cassette__foot">
		<a href="#" class="morebtn">
			<div class="morebtn__inner">もっと見る</div>
		</a>
	</div>
</section>
<section class="cassette cassette--bggray js_scrollevent">
	<div class="cassette__head">
		<h2 class="cassette__head__ttl">デザイン事例</h2>
		<p class="cassette__head__txt">本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト</p>
	</div>
	<div class="cassette__body">
		<ul class="example js_scrollevent">
			<li class="example__item">
				<a href="#" class="example__item__inner">
					<div class="example__item__inner__img"><img src="img/img_example01.png" alt="デザイン事例"></div>
					<div class="example__item__inner__ttl">サイトの特徴タイトル</div>
					<div class="example__item__inner__txt"><p>実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る</p></div>
				</a>
			</li>
			<li class="example__item">
				<a href="#" class="example__item__inner">
					<div class="example__item__inner__img"><img src="img/img_example01.png" alt="デザイン事例"></div>
					<div class="example__item__inner__ttl">サイトの特徴タイトル</div>
					<div class="example__item__inner__txt"><p>実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る</p></div>
				</a>
			</li>
			<li class="example__item">
				<a href="#" class="example__item__inner">
					<div class="example__item__inner__img"><img src="img/img_example01.png" alt="デザイン事例"></div>
					<div class="example__item__inner__ttl">サイトの特徴タイトル</div>
					<div class="example__item__inner__txt"><p>実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る</p></div>
				</a>
			</li>
			<li class="example__item">
				<a href="#" class="example__item__inner">
					<div class="example__item__inner__img"><img src="img/img_example01.png" alt="デザイン事例"></div>
					<div class="example__item__inner__ttl">サイトの特徴タイトル</div>
					<div class="example__item__inner__txt"><p>実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る</p></div>
				</a>
			</li>
			<li class="example__item">
				<a href="#" class="example__item__inner">
					<div class="example__item__inner__img"><img src="img/img_example01.png" alt="デザイン事例"></div>
					<div class="example__item__inner__ttl">サイトの特徴タイトル</div>
					<div class="example__item__inner__txt"><p>実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る</p></div>
				</a>
			</li>
			<li class="example__item">
				<a href="#" class="example__item__inner">
					<div class="example__item__inner__img"><img src="img/img_example01.png" alt="デザイン事例"></div>
					<div class="example__item__inner__ttl">サイトの特徴タイトル</div>
					<div class="example__item__inner__txt"><p>実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る実績の部分文章が入る</p></div>
				</a>
			</li>
		</ul>
	</div>
	<div class="cassette__foot">
		<a href="#" class="morebtn">
			<div class="morebtn__inner">もっと見る</div>
		</a>
	</div>
</section>
<section class="blog js_scrollevent">
	<div class="blog__inner">
		<h2 class="blog__inner__ttl">BLOG</h2>
		<div class="blog__inner__btn">
			<a href="#" class="morebtn">
				<div class="morebtn__inner">もっと見る</div>
			</a>
		</div>
	</div>
	<div class="blog__inner">
		<ul class="bloglist">
			<li class="bloglist__item">
				<div class="bloglist__item__date">2000/00/00</div>
				<a href="#" class="bloglist__item__link">タイトルテキストリンクタイトルテキストリンクタイトルテキストリンク</a>
			</li>
			<li class="bloglist__item">
				<div class="bloglist__item__date">2000/00/00</div>
				<a href="#" class="bloglist__item__link">タイトルテキストリンクタイトルテキストリンクタイトルテキストリンク</a>
			</li>
			<li class="bloglist__item">
				<div class="bloglist__item__date">2000/00/00</div>
				<a href="#" class="bloglist__item__link">タイトルテキストリンクタイトルテキストリンクタイトルテキストリンク</a>
			</li>
		</ul>
	</div>
</section>
{% endblock %}