@import "module/_default.scss";
@import "module/_slick.scss";

@media (min-width: $min_w) {
	.spblake {
		display: none;
	}
}

@media (max-width: $max_w) {
	.pcblake {
		display: none;
	}
}

.hero {
	height: 768px;
	padding: 80px 0 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/bg_hero01.jpg);

	@media (max-width: $max_w) {
		height: 80vh;
		background-image: url(../img/bg_hero01_sp.jpg);
	}

	.hero__body {
		width: 90%;
		max-width: $w_pc;
		color: #fff;

		.hero__body__ttl {
			font-size: 50px;
			font-weight: bold;
			text-shadow: 0 0 6px rgba(0, 0, 0, .2);
			transition: .3s transform, .3s opacity;

			@media (max-width: $max_w) {
				font-size: 10vw;
			}
		}

		.hero__body__sub {
			margin: 20px 0 0;
			line-height: 1;
			transition: .3s transform .2s, .3s opacity .2s;

			@media (max-width: $max_w) {
				line-height: 1.8;
			}
		}
	}

	.hero__foot {
		width: 90%;
		max-width: $w_pc;
		position: absolute;
		top: calc(100% - 51px);
		right: 50%;
		transform: translateX(50%);
		transition: .3s transform .4s, .3s opacity .4s;
	}

	&:not(.is_show) {
		.hero__body {
			.hero__body__ttl,
			.hero__body__sub {
				transform: translateX(-50%);
				opacity: 0;
			}
		}

		.hero__foot {
			transform: translateX(0);
			opacity: 0;
		}
	}
}

.news {
	width: 90%;
	max-width: 750px;
	height: 102px;
	padding: 0 4%;
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1);

	@media (max-width: $max_w) {
		width: 100%;
		padding: 20px;
	}

	.news__item {
		width: 100%;
		height: 100%;

		@media (min-width: $min_w) {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
		}

		.news__item__date {
			font-family: $font_en;
		}

		.news__item__link {
			text-decoration: underline;
			transition: .3s opacity;

			@media (min-width: $min_w) {
				&:hover {
					opacity: .5;
				}
			}

			@media (max-width: $max_w) {
				margin: 10px 0 0;
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				&:active {
					opacity: .5;
				}
			}
		}
	}
}

.read {
	margin: 150px 0 0;
	padding: 0 0 10vw;
	background-position: center right;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../img/bg_read01.png);

	@media (max-width: $max_w) {
		margin: 120px 0 0;
		padding: 0 0 58vw;
		background-position: bottom right;
		background-image: url(../img/bg_read01_sp.png);
	}

	.read__inner {
		width: 90%;
		max-width: $w_pc;
		margin: auto;

		.read__inner__ttl {
			font-size: 36px;
			font-weight: bold;
			transition: .3s transform, .3s opacity;

			@media (max-width: $max_w) {
				font-size: 26px;
			}
		}

		.read__inner__sub {
			margin: 30px 0 0;
			font-size: 26px;
			font-weight: bold;
			line-height: 1;
			color: $green;
			transition: .3s transform .2s, .3s opacity .2s;

			@media (max-width: $max_w) {
				font-size: 22px;
			}
		}

		.read__inner__txt {
			margin: 30px 0 0;
			line-height: 1.8;
			transition: .3s transform .4s, .3s opacity .4s;

			@media (min-width: $min_w) {
				width: 90%;
				max-width: 550px;
			}
		}

		.read__inner__btn {
			width: 180px;
			height: 56px;
			margin: 30px 0 0;
			transition: .3s transform .6s, .3s opacity .6s;

			@media (max-width: $max_w) {
				margin: 50px 0 0;
			}
		}
	}

	&:not(.is_show) {
		.read__inner__ttl,
		.read__inner__sub,
		.read__inner__txt,
		.read__inner__btn {
			transform: translateX(-50%);
			opacity: 0;
		}
	}
}

.morebtn {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background-color: $gold;
	transition: .3s opacity;

	.morebtn__inner {
		font-size: 1em;
		font-weight: bold;
		text-align: center;
		line-height: 1;
		color: $bk;
	}

	&:hover {
		opacity: .8;
	}
}

.cassette {
	margin: 100px 0 0;

	@media (max-width: $max_w) {
		margin: 70px 0 0;
	}

	.cassette__head {
		text-align: center;

		.cassette__head__ttl {
			font-size: 36px;
			font-weight: bold;
			transition: .3s transform, .3s opacity;

			@media (max-width: $max_w) {
				font-size: 26px;
			}
		}

		.cassette__head__txt {
			width: 90%;
			max-width: 750px;
			margin: 30px auto 0;
			line-height: 1.8;
			transition: .3s transform .2s, .3s opacity .2s;
		}
	}

	.cassette__body {
		margin: 40px 0 0;
	}

	.cassette__foot {
		width: 180px;
		height: 56px;
		margin: 40px auto 0;
	}

	&.cassette--bgimg,
	&.cassette--bggray {
		padding: 100px 0;

		@media (max-width: $max_w) {
			padding: 65px 0;
		}
	}

	&.cassette--bgimg {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../img/bg_result01.png);

		@media (max-width: $max_w) {
			background-image: url(../img/bg_result01_sp.png);
		}

		.cassette__head {
			color: #fff;
		}
	}

	&.cassette--bggray {
		margin: 0;
		background-color: #F8F8F8;
	}

	&:not(.is_show) {
		.cassette__head {
			.cassette__head__ttl,
			.cassette__head__txt {
				transform: translateY(50%);
				opacity: 0;
			}
		}
	}
}

.price {
	.price__item {
		&:nth-child(n+2) {
			margin: 40px 0 0;
		}

		@media (min-width: $min_w) {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
		}

		&:nth-child(1) {
			.price__item__inner {
				.price__item__inner__ttl {
					transition: .3s transform, .3s opacity;
				}

				.price__item__inner__txt {
					transition: .3s transform .2s, .3s opacity .2s;
				}
			}
		}

		&:nth-child(2) {
			.price__item__inner {
				.price__item__inner__ttl {
					transition: .3s transform .4s, .3s opacity .4s;
				}

				.price__item__inner__txt {
					transition: .3s transform .6s, .3s opacity .6s;
				}
			}
		}

		&:nth-child(3) {
			.price__item__inner {
				.price__item__inner__ttl {
					transition: .3s transform .8s, .3s opacity .8s;
				}

				.price__item__inner__txt {
					transition: .3s transform 1s, .3s opacity 1s;
				}
			}
		}

		.price__item__inner {
			@media (min-width: $min_w) {
				width: calc(50% - 20px);
			}

			&:nth-child(2) {
				@media (max-width: $max_w) {
					width: 95%;
				}
			}

			.price__item__inner__ttl {
				display: flex;
				align-items: center;
				font-size: 26px;
				font-weight: bold;
				line-height: 1;

				@media (max-width: $max_w) {
					width: 90%;
					margin: 30px auto 0;
					font-size: 22px;
				}

				&::before {
					margin: 0 20px 0 0;
					content: attr(data-num);
					font-family: $font_en;
					font-size: 66px;
					color: $green2;

					@media (max-width: $max_w) {
						font-size: 56px;
					}
				}
			}

			.price__item__inner__txt {
				margin: 20px 0 0 0;
				line-height: 1.8;

				@media (min-width: $min_w) {
					width: 90%;
					max-width: 510px;
				}

				@media (max-width: $max_w) {
					width: 90%;
					margin: auto;
				}
			}

			.price__item__inner__img {
				>img {
					width: 100%;
					height: auto;
					display: block;
					line-height: 0;
				}
			}
		}
	}

	&:not(.is_show) {
		.price__item {
			.price__item__inner {
				.price__item__inner__ttl,
				.price__item__inner__txt {
					transform: translateX(-50%);
					opacity: 0;
				}
			}
		}
	}
}

.result {
	padding: 60px 0;
	background-color: #fff;

	@media (max-width: $max_w) {
		padding: 60px 0 40px;
	}

	.result__list {
		width: 85%;
		max-width: 1366px;
		margin: auto;
		position: relative;
		transition: .3s opacity;

		.result__list__item {
			width: 33%;

			.result__list__item__link {
				display: block;

				>img {
					width: 100%;
					height: auto;
					display: block;
					line-height: 0;
				}
			}
		}

		.result__list__btn {
			width: 20px;
			height: 36px;
			display: block;
			position: absolute;
			bottom: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url(../img/_icon_arrow01.svg);
			transition: .3s opacity, .3s transform;

			&.slick-prev {
				right: calc(100% + 10px);
				transform: translateY(50%);

				@media (max-width: $max_w) {
					right: calc(100% - 5px);
				}
			}

			&.slick-next {
				left: calc(100% + 10px);
				transform: translateY(50%) scaleX(-1);

				@media (max-width: $max_w) {
					left: calc(100% - 5px);
				}
			}

			@media (min-width: $min_w) {
				&:hover {
					opacity: .5;

					&.slick-prev {
						transform: translateY(50%) translateX(-10px);
					}

					&.slick-next {
						transform: translateY(50%) translateX(10px) scaleX(-1);
					}
				}
			}

			@media (max-width: $max_w) {
				&:active {
					opacity: .5;
				}
			}
		}
	}

	&:not(.is_show) {
		.result__list {
			opacity: 0;
		}
	}
}

.example {
	width: 90%;
	max-width: $w_pc;
	margin: auto;

	@media (min-width: $min_w) {
		display: flex;
		flex-flow: row wrap;
	}

	.example__item {
		background-color: #fff;
		border: 1px solid #DBCEA0;

		&:nth-child(1) {
			transition: .3s opacity;
		}

		&:nth-child(2) {
			transition: .3s opacity .2s;
		}

		&:nth-child(3) {
			transition: .3s opacity .4s;
		}

		&:nth-child(4) {
			transition: .3s opacity .6s;
		}

		&:nth-child(5) {
			transition: .3s opacity .8s;
		}

		&:nth-child(6) {
			transition: .3s opacity 1s;
		}

		@media (min-width: $min_w) {
			width: calc((100% - 60px) / 3);

			&:not(:nth-child(3n)) {
				margin: 0 30px 0 0;
			}

			&:nth-child(n+4) {
				margin-top: 30px;
			}
		}

		@media (max-width: $max_w) {
			&:nth-child(n+2) {
				margin: 30px 0 0;
			}
		}

		.example__item__inner {
			display: block;
			padding: 30px;

			.example__item__inner__img {
				overflow: hidden;
				border: 1px solid #EBEBEB;

				>img {
					width: 100%;
					height: auto;
					display: block;
					line-height: 0;
					transition: .3s transform;
				}
			}

			.example__item__inner__ttl {
				margin: 35px 0 0;
				font-size: 18px;
				text-align: center;
			}

			.example__item__inner__txt {
				margin: 20px 0 0;
				overflow: hidden;

				>p {
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					text-decoration: underline;
					line-height: 1.8;
				}
			}

			@media (min-width: $min_w) {
				&:hover {
					.example__item__inner__img {
						>img {
							transform: scale(1.1);
						}
					}
				}
			}

			@media (max-width: $max_w) {
				&:active {
					.example__item__inner__img {
						>img {
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}

	&:not(.is_show) {
		.example__item {
			opacity: 0;
		}
	}
}

.blog {
	width: 90%;
	max-width: $w_pc;
	margin: 100px auto 0;
	padding: 100px 70px;
	position: relative;
	background-color: $green;

	@media (min-width: $min_w) {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}

	@media (max-width: $max_w) {
		margin: 70px auto 0;
		padding: 80px 0 170px;
	}

	.blog__inner {
		&:nth-child(2) {
			transition: .3s opacity .4s;
		}

		@media (min-width: $min_w) {
			&:nth-child(1) {
				width: 180px;
			}

			&:nth-child(2) {
				width: calc(100% - 250px);
			}
		}

		@media (max-width: $max_w) {
			&:nth-child(2) {
				margin: 30px 0 0;
			}
		}

		.blog__inner__ttl {
			font-size: 36px;
			font-weight: bold;
			text-align: center;
			line-height: 1;
			color: #fff;
			transition: .3s transform, .3s opacity;
		}

		.blog__inner__btn {
			width: 180px;
			height: 56px;
			margin: 40px 0 0;
			transition: .3s transform .2s, .3s opacity .2s;

			@media (max-width: $max_w) {
				position: absolute;
				right: 50%;
				bottom: 70px;
				transform: translateX(50%);
			}
		}
	}

	&:not(.is_show) {
		.blog__inner {
			opacity: 0;

			.blog__inner__ttl,
			.blog__inner__btn {
				transform: translateX(-100%);
				opacity: 0;
			}
		}
	}
}

.bloglist {
	padding: 50px;
	background-color: #fff;

	@media (max-width: $max_w) {
		width: 90%;
		margin: auto;
		padding: 30px 20px;
	}

	.bloglist__item {
		@media (min-width: $min_w) {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
		}

		&:nth-child(n+2) {
			margin: 20px 0 0;
		}

		.bloglist__item__date {
			font-family: $font_en;
		}

		.bloglist__item__link {
			text-decoration: underline;
			transition: .3s opacity;

			@media (min-width: $min_w) {
				&:hover {
					opacity: .5;
				}
			}

			@media (max-width: $max_w) {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				&:active {
					opacity: .5;
				}
			}
		}
	}
}