@import "module/_default.scss";

@media (min-width: $min_w) {
	.u_spblake {
		display: none;
	}
}

@media (max-width: $max_w) {
	.u_pcblake {
		display: none;
	}
}

.container {
	position: relative;
	overflow: hidden;

	@media (min-width: $min_w) {
		padding: 60px 0 0;
	}
}

.l_entry {
	width: 100%;
	height: 100%;
}

.entry {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	color: #fff;
	background-color: $bl;
	border-radius: 1000px;
	box-shadow: 80px 80px 70px -50px $bk inset;
	transition: $sec box-shadow, $sec opacity;

	>div {
		position: relative;
		z-index: 1;
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 2px;

		@media (max-width: $max_w) {
			font-size: 16px;
		}
	}

	&.entry__arrow {
		&::after {
			width: 15px;
			height: 15px;
			position: absolute;
			bottom: 50%;
			right: 20px;
			z-index: 1;
			transform: translateY(50%) rotate(45deg);
			content: '';
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
		}
	}

	@media (min-width: $min_w) {
		&:hover {
			box-shadow: -80px -80px 70px -50px $bk inset;
		}
	}

	@media (max-width: $max_w) {
		&:active {
			box-shadow: -80px -80px 70px -50px $bk inset;
		}
	}
}

.l_grbtn {
	width: 100%;
	height: 100%;
	position: relative;

	&::before,
	&::after {
		height: 12px;
		position: absolute;
		bottom: calc(50% + 6px);
		z-index: 1;
		content: '';
	}

	&::before {
		width: 30px;
		right: 0;
		transform: translateY(50%);
		border-bottom: 1px solid #fff;

		@media (max-width: $max_w) {
			width: 20px;
		}
	}

	&::after {
		width: 90px;
		left: calc(100% - 8px);
		transform: translateY(50%) skewX(45deg);
		border-bottom: 1px solid $bk;
		border-right: 1px solid $bk;
		transition: 1s border .5s;

		@media (max-width: $max_w) {
			width: 40px;
		}
	}

	&.l_grbtn__small {
		&::after {
			@media (max-width: $max_w) {
				width: 25px;
			}
		}
	}

	&.l_grbtn__gr {
		&::after {
			border-bottom-color: $gl;
			border-right-color: $gl;
		}
	}

	&.l_grbtn__pl {
		&::after {
			border-bottom-color: $pl;
			border-right-color: $pl;
		}
	}

	&.l_grbtn__pn2 {
		&::after {
			border-bottom-color: $pn;
			border-right-color: $pn;
		}
	}

	&.l_grbtn__pn {
		&::after {
			border-bottom-color: $pn2;
			border-right-color: $pn2;
		}
	}

	&.l_grbtn__or {
		&::after {
			border-bottom-color: $or;
			border-right-color: $or;
		}
	}

	&.l_grbtn__bl {
		&::after {
			border-bottom-color: $bl;
			border-right-color: $bl;
		}
	}

	@media (min-width: $min_w) {
		&:hover {
			&::after {
				border-bottom: 1px solid $bk;
				border-right: 1px solid $bk;
			}
		}
	}
}

.grbtn {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 0;
	overflow: hidden;

	&::before {
		width: 140%;
		max-width: 400px;
		padding: 140% 0 0;
		position: absolute;
		right: 50%;
		bottom: 50%;
		transform: translate(50%, 50%);
		z-index: 0;
		content: '';
		border-radius: 1000px;
		border-radius: 165px;
		box-shadow: 200px 200px 70px -50px #000078 inset;
		transition: 1s box-shadow;
		pointer-events: none;

		@media (max-width: $max_w) {
			max-width: 280px;
			box-shadow: 160px 140px 70px -50px #000078 inset;
		}
	}

	>div {
		position: relative;
		z-index: 1;
		font-weight: 600;
		text-align: center;
		line-height: 1;
		color: #fff;
	}

	&.grbtn__small {
		&::before {
			padding: 200% 0 0;
		}
	}

	&.grbtn__gr {
		background-color: $gl;
	}

	&.grbtn__pl {
		background-color: $pl;
	}

	&.grbtn__pn2 {
		background-color: $pn;
	}

	&.grbtn__pn {
		background-color: $pn2;
	}

	&.grbtn__or {
		background-color: $or;
	}

	&.grbtn__bl {
		background-color: $bl;
	}

	@media (min-width: $min_w) {
		&:hover {
			&::before {
				box-shadow: -200px -200px 70px -50px #000078 inset;
			}
		}
	}

	@media (max-width: $max_w) {
		&:active {
			&::before {
				box-shadow: -160px -140px 70px -50px #000078 inset;
			}
		}
	}
}

.hero {
	max-width: 1040px;
	margin: auto;
	padding: 0 0 150px;
	position: relative;
	transition: 1s opacity, 1s transform;

	@media (max-width: $max_w) {
		padding: 0 0 120px;
	}

	&::before,
	&::after {
		position: absolute;
		right: 50%;
		transform: translateX(50%);
		z-index: 1;
	}

	&::before {
		content: 'Scroll';
		bottom: 110px;
		font-size: 12px;
		line-height: 1;
		letter-spacing: 1px;
	}

	&::after {
		width: 1px;
		height: 100px;
		bottom: 0;
		content: '';
		background-color: $bk;
	}

	.hero_btn {
		width: 170px;
		height: 170px;
		position: absolute;
		right: -30px;
		bottom: 80px;

		@media (max-width: 1040px) {
			right: 30px;
		}

		@media (max-width: $max_w) {
			display: none;
		}
	}

	&:not(.is_show) {
		opacity: 0;
		transform: translateY(50px);
	}
}

.l_note {
	max-width: $w_pc;
	margin: auto;
	padding: 60px 0 0;
	position: relative;

	@media (max-width: $max_w) {
    	padding: 20px 0 0;
	}

	&::before {
		width: 1270px;
		height: 726px;
		position: absolute;
		top: 210px;
		right: calc(100% - 630px);
		content: '';
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url(../img/bg_paint01.png);

		@media (max-width: $max_w) {
			right: calc(100% - 585px);
		}
	}
}

.note {
	position: relative;
	text-align: center;
	transition: 1s opacity, 1s transform;

	&:not(.is_show) {
		opacity: 0;
		transform: translateY(50px);
	}

	@media (max-width: $max_w) {
		width: 90%;
		margin: auto;
	}

	.note_head {
		font-size: 32px;
		font-weight: 600;
		line-height: 2;
		letter-spacing: 12px;

		>span {
			color: $pn;
		}

		@media (max-width: $max_w) {
			font-size: 6vw;
			line-height: 2.5;
			letter-spacing: 1.5vw;
		}
	}

	.note_body {
		margin: 40px 0 0;

		>p {
			font-size: 18px;
			line-height: 3;
			letter-spacing: 5px;

			@media (max-width: $max_w) {
				font-size: 16px;
				line-height: 2.5;
				letter-spacing: 1px;
			}

			&:nth-child(n+2) {
				margin: 20px 0 0;
			}
		}
	}
}

.l_charabtn {
	max-width: 1040px;
	margin: 100px auto 0;
}

.charabtn {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	transition: 1s opacity, 1s transform;

	&:not(.is_show) {
		opacity: 0;
		transform: translateY(50px);
	}

	>a {
		width: 40%;
		height: 150px;
		position: relative;
		overflow: hidden;
		transition: 1s width;

		@media (max-width: $max_w) {
			width: 35%;
			height: 110px;

			&::after {
				width: 15px;
				height: 15px;
				position: absolute;
				bottom: 12px;
				right: 50%;
				z-index: 1;
				transform: translateX(50%) rotate(45deg);
				content: '';
				border-bottom: 1px solid #fff;
				border-right: 1px solid #fff;
			}
		}

		>img {
			width: auto;
			height: 100%;
			position: absolute;
			bottom: 50%;
			transform: translateY(50%);
			transition: 1s transform, 1s right, 1s left;
		}

		>div {
			position: absolute;
			bottom: 50%;
			transform: translateY(50%);
			font-size: 20px;
			line-height: 1;
			color: #fff;
			transition: 1s transform;

			@media (min-width: $min_w) {
				display: inline-block;
				letter-spacing: 10px;
			}

			@media (max-width: $max_w) {
				width: 100%;
				padding: 0 8px 0 10px;
				font-size: 5vw;
				text-align: center;
				line-height: 1.5;
				letter-spacing: 1.5vw;
			}
		}

		&:nth-child(1) {
			>img {
				right: -90px;
			}
		}

		&:nth-child(2) {
			>img {
				left: -90px;
			}
		}

		@media (min-width: $min_w) {
			&:nth-child(1) {
				>div {
					left: 40px;
					transform-origin: left center;
				}
			}

			&:nth-child(2) {
				>div {
					right: 40px;
					transform-origin: right center;
				}
			}
		}

		&:not(.is_shot).is_current,
		&.is_active {
			width: 60%;

			@media (max-width: $max_w) {
				width: 65%;
			}

			&:nth-child(1) {
				>img {
					right: 0;
				}
			}

			&:nth-child(2) {
				>img {
					left: 0;
				}
			}

			>img {
				transform: translateY(50%) scale(1.2);
			}

			>div {
				transform: translateY(50%) scale(1.5);

				@media (max-width: $max_w) {
					transform: translateY(50%) scale(1.2);
				}
			}
		}
	}
}

.l_movie {
	max-width: 1040px;
	margin: 150px auto 0;
	position: relative;
	transition: 1s opacity, 1s transform;

	&:not(.is_show) {
		opacity: 0;
		transform: translateY(50px);
	}

	@media (max-width: $max_w) {
		margin-top: 80px;
	}

	&::after {
		width: 430px;
		height: 94px;
		position: absolute;
		bottom: calc(100% - 50px);
		z-index: 1;
		content: '';
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url(../img/_ttl_movie01.svg);

		@media (min-width: $min_w) {
			left: 68%;
		}

		@media (max-width: $max_w) {
			width: 75%;
			max-width: 250px;
			right: 0;
		}
	}
}

.movie {
	margin: auto;
	position: relative;

	@media (min-width: $min_w) {
		width: 80%;
	}

	@media (max-width: $max_w) {
		overflow: hidden;
	}

	.movie_inner {
		display: block;
		position: relative;
		overflow: hidden;
		mask-image: url(../img/bg_movie01.png);
		mask-size: 100% 100%;
  		mask-clip: border-box;
		transform: 1s opacity;

		@media (max-width: $max_w) {
			width: 150vw;
			margin: 0 0 0 -25vw;
		}

		&::before,
		&::after {
			display: block;
			position: absolute;
			right: 50%;
			bottom: 50%;
			transform: translate(50%, 50%);
			z-index: 1;
		}

		>img {
			position: relative;
			z-index: 0;
			transition: 1s transform;
		}

		@media (min-width: $min_w) {
			&:hover {
				>img {
					transform: scale(1.15);
				}
			}
		}

		&:not(.is_show) {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			pointer-events: none;
		}

		&:not(.movie_inner__disable) {
			&::before {
				width: 80px;
				height: 80px;
				content: '';
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url(../img/_icon_play01.svg);
			}
		}

		&.movie_inner__disable {
			pointer-events: none;

			&::after {
				font-size: 30px;
				font-weight: 600;
				line-height: 1;
				text-align: center;
				letter-spacing: 5px;
				content: 'Coming Soon';
				color: #fff;
			}
		}
	}
}

.l_character {
	max-width: 914px;
	margin: 80px auto 0;
	position: relative;
	transition: 1s opacity, 1s transform;

	&:not(.is_show) {
		opacity: 0;
		transform: translateY(50px);
	}

	@media (min-width: $min_w) {
		&::after {
			width: 100px;
			height: 700px;
			position: absolute;
			top: -30px;
			right: calc(100% + 20px);
			z-index: 1;
			content: '';
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url(../img/_ttl_character01.svg);
		}
	}

	>li {
		width: 100%;
		position: relative;
		transition: 1s opacity;

		&:not(.is_show) {
			&:nth-last-child(n+2) {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				pointer-events: none;
			}
		}

		&:last-child {
			width: 60px;
			height: 60px;
			position: absolute;
			bottom: 50%;
			right: 0;
			transform: translateY(50%) rotate(45deg);

			@media (max-width: $max_w) {
				width: 35px;
				height: 35px;
				bottom: 76%;
    			right: 30px;
			}
		}

		&.is_disable {
			display: none;
		}
	}
}

.character {
	@media (min-width: $min_w) {
		display: flex;
		flex-flow: row wrap;
	}

	.character_inner {
		@media (min-width: $min_w) {
			width: 50%;
		}

		.character_inner_name,
		.character_inner_cv {
			&::before {
				height: 18px;
				padding: 0 0 0 3px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 10px;
				font-weight: 600;
				text-align: center;
				letter-spacing: 2px;
				line-height: 1;
				color: #fff;
				background-color: $bk;
			}
		}

		.character_inner_name {
			position: relative;

			@media (max-width: $max_w) {
				position: absolute;
				top: 0;
				right: 5vw;
			}

			&::before {
				width: 60px;
				content: 'Name';
			}

			>div {
				margin: 20px 0 0;
				line-height: 1;

				@media (max-width: $max_w) {
					margin: 10px 0 0;
				}

				&:nth-child(1) {
					font-size: 44px;
					letter-spacing: 5px;

					@media (max-width: $max_w) {
						font-size: 32px;
					}
				}

				&:nth-child(2) {
					font-size: 10px;
					letter-spacing: 3px;
				}

				>span {
					color: $bl;
				}
			}
		}

		.character_inner_txt {
			margin: 22px 0 0;
			padding: 20px 0 0;
			position: relative;
			line-height: 2;

			@media (max-width: $max_w) {
				width: 90%;
				margin: 22px auto 0;
			}

			@media (min-width: $min_w) {
				&::before {
					width: 50px;
					height: 1px;
					position: absolute;
					top: 0;
					left: 0;
					content: '';
					background-color: $bk;
				}
			}
		}

		.character_inner_cv {
			width: calc(100% - 130px);
			margin: 170px 0 0;
			position: relative;

			@media (max-width: $max_w) {
				width: 90%;
				max-width: calc(100% - 70px);
				margin: 60px 0 0 5%;

				&::after {
					width: 50px;
					height: 1px;
					position: absolute;
					bottom: calc(100% + 33px);
					left: 0;
					content: '';
					background-color: $bk;
				}
			}

			&::before {
				width: 40px;
				content: 'CV';
			}

			>div {
				&:nth-child(1) {
					margin: 20px 0 0;
				}

				&:nth-child(2) {
					width: 115px;
					height: 115px;
					position: absolute;
					right: 0;
					bottom: 50%;
					transform: translateY(50%);
					overflow: hidden;
					border-radius: 1000px;
				}

				>div {
					&:nth-child(1) {
						display: flex;
						align-items: center;
						font-size: 30px;
						line-height: 1;
						letter-spacing: 5px;

						>a {
							width: 17px;
							height: 14px;
							margin: 0 0 0 10px;
							display: inline-block;
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							transition: $sec opacity;
							background-image: url(../img/_btn_sns01.svg);

							@media (min-width: $min_w) {
								&:hover {
									opacity: .5;
								}
							}

							@media (max-width: $max_w) {
								&:active {
									opacity: .5;
								}
							}
						}
					}

					&:nth-child(2) {
						margin: 10px 0 0;
						font-size: 10px;
						line-height: 1;
						letter-spacing: 2px;
					}

					>span {
						color: $bl;
					}
				}
			}
		}

		.character_inner_comment {
			width: 260px;
			height: 62px;
			margin: 40px 0 0;
			font-size: 21px;

			@media (max-width: $max_w) {
				width: 240px;
				height: 50px;
				margin: 40px auto 0;
				font-size: 16px;
			}
		}
	}

	&.character__type02 {
		.character_inner {
			.character_inner_name {
				>div {
					>span {
						color: $pn;
					}
				}
			}

			.character_inner_cv {
				>div {
					>div {
						>span {
							color: $pn;
						}
					}
				}
			}
		}
	}

	&.character__arrow {
		width: 100%;
		height: 100%;
		display: block;
		border-top: 1px solid $bk;
		border-right: 1px solid $bk;
	}
}

.l_comment {
	width: 100%;
	padding: 80px 0;
	background-color: #fff;

	&:not(.is_show) {
		display: none;
	}

	@media (max-width: $max_w) {
		padding: 30px 0;
	}
}

.comment {
	.comment_head {
		text-align: center;
		line-height: 1;

		&:nth-child(n+2) {
			margin: 80px 0 0;

			@media (max-width: $max_w) {
				margin: 60px 0 0;
			}
		}

		span {
			color: $bl;
		}

		.comment_head_ttl {
			font-size: 40px;
			font-weight: 600;
			letter-spacing: 12px;

			@media (max-width: $max_w) {
				padding: 0 0 0 5px;
				font-size: 7vw;
				line-height: 1.5;
				letter-spacing: 5px;
			}
		}

		.comment_head_sub {
			margin: 20px 0 0;
			font-size: 10px;
			letter-spacing: 5px;

			@media (max-width: $max_w) {
				margin: 5px 0 0;
				letter-spacing: 3px;
			}
		}
	}

	.comment_body {
		width: 90%;
		max-width: 800px;
		height: 50vh;
		margin: 30px auto 0;
		position: relative;
		overflow: scroll;
		font-size: 18px;
		line-height: 1.8;
		letter-spacing: 1;

		@media (max-width: $max_w) {
			height: 40vh;
			margin: 30px auto 0;
			font-size: 14px;
		}

		.comment_body_ttl {
			color: $bl;

			&:nth-child(n+2) {
				margin: 30px 0 0;
			}
		}

		.comment_body_txt {
			margin: 10px 0 0;
		}
	}

	&.comment__type2 {
		.comment_head {
			span {
				color: $pn;
			}
		}

		.comment_body {
			.comment_body_ttl {
				color: $pn;
			}
		}
	}
}

.l_cassette {
	max-width: $w_pc;
	margin: 80px auto 0;
	padding: 300px 0 0;
	position: relative;

	@media (max-width: $max_w) {
		padding: 220px 0 0;
	}

	&::before,
	&::after {
		position: absolute;
		top: 0;
		content: '';
	}

	&::before {
		width: 1270px;
		height: 726px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&::after {
		width: 1px;
		height: 160px;
		right: 50%;
		transform: translateX(50%);
		background-color: $bk;

		@media (max-width: $max_w) {
			height: 140px;
		}
	}

	&.l_cassette__talk,
	&.l_cassette__art {
		&::before {
			left: calc(100% - 630px);

			@media (max-width: $max_w) {
				left: calc(100% - 585px);
			}
		}
	}

	&.l_cassette__tw,
	&.l_cassette__outline {
		&::before {
			right: calc(100% - 630px);

			@media (max-width: $max_w) {
				right: calc(100% - 585px);
			}
		}
	}

	&.l_cassette__talk {
		&::before {
			background-image: url(../img/bg_paint02.png);
		}
	}

	&.l_cassette__tw {
		&::before {
			background-image: url(../img/bg_paint03.png);
		}
	}

	&.l_cassette__art {
		&::before {
			background-image: url(../img/bg_paint04.png);
		}
	}

	&.l_cassette__outline {
		&::before {
			background-image: url(../img/bg_paint05.png);
		}
	}
}

.cassette {
	position: relative;
	z-index: 1;
	transition: 1s opacity, 1s transform;

	&:not(.is_show) {
		opacity: 0;
		transform: translateY(50px);
	}

	.cassette_head {
		text-align: center;
		line-height: 1;

		&:nth-child(n+2) {
			margin: 80px 0 0;

			@media (max-width: $max_w) {
				margin: 60px 0 0;
			}
		}

		.cassette_head_ttl {
			font-size: 40px;
			font-weight: 600;
			letter-spacing: 4px;

			@media (max-width: $max_w) {
				padding: 0 0 0 5px;
				font-size: 7vw;
				line-height: 1.8;
				letter-spacing: 8px;
			}
		}

		.cassette_head_sub {
			margin: 20px 0 0;
			font-size: 10px;
			letter-spacing: 5px;

			@media (max-width: $max_w) {
				margin: 10px 0 0;
			}
		}
	}

	.cassette_body {
		margin: 60px 0 0;

		@media (max-width: $max_w) {
			margin: 30px 0 0;
		}

		.cassette_body_txt {
			font-size: 18px;
			text-align: center;
			line-height: 3;
			letter-spacing: 2px;

			@media (max-width: $max_w) {
				width: 90%;
				margin: auto;
				font-size: 16px;
				line-height: 2.5;
				letter-spacing: 0;
			}
		}
	}

	.cassette_foot {
		max-width: 400px;
		margin: 80px auto 0;

		@media (max-width: $max_w) {
			max-width: 280px;
			margin: 30px auto 0;
		}

		.cassette_foot_inner {
			width: 100%;
			height: 62px;
			font-size: 21px;
			letter-spacing: 5px;

			&:nth-child(n+2) {
				margin: 30px 0 0;
			}

			@media (max-width: $max_w) {
				height: 50px;
				font-size: 16px;
			}
		}
	}

	&.cassette__talk {
		.cassette_head {
			span {
				color: $gl;
			}
		}

		.cassette_foot {
			max-width: 300px;

			@media (max-width: $max_w) {
				max-width: 240px;
			}
		}
	}

	&.cassette__tw {
		.cassette_head {
			span {
				color: $pl;
			}

			.cassette_head_ttl {
				@media (max-width: $max_w) {
					padding: 0;
					letter-spacing: 0;
				}
			}
		}
	}

	&.cassette__art {
		.cassette_head {
			span {
				color: $pn2;
			}

			.cassette_head_ttl {
				@media (max-width: $max_w) {
					padding: 0;
					letter-spacing: 0;
				}
			}
		}
	}

	&.cassette__outline {
		.cassette_head {
			span {
				color: $or;
			}
		}

		.cassette_foot {
			&:last-child {
				margin: 30px auto 0;

				.cassette_foot_inner {
					letter-spacing: 2px;
				}
			}
		}
	}
}

.talk {
	.talk_head {
		width: 100%;

		@media (min-width: $min_w) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}

		.talk_head_inner {
			@media (max-width: $max_w) {
				text-align: center;
			}

			>div {
				text-align: center;
				line-height: 1;

				&:nth-child(1) {
					position: relative;
					font-weight: 600;
					letter-spacing: 3px;
					border: 1px solid $bk;

					@media (min-width: $min_w) {
						width: 100%;
						height: 80px;
						padding: 0 5px 0 14px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 44px;
					}

					@media (max-width: $max_w) {
						padding: 10px;
						display: inline-block;
						font-size: 22px;
					}
				}

				&:nth-child(2) {
					margin: 10px 0 0;
					letter-spacing: 2px;
				}
			}

			&:nth-child(1) {
				@media (min-width: $min_w) {
					max-width: 310px;
				}

				>div {
					>span {
						color: $pn;
					}
				}
			}

			&:nth-child(2) {
				@media (min-width: $min_w) {
					max-width: 360px;
				}

				>div {
					&:nth-child(1) {
						@media (min-width: $min_w) {
							padding: 0 11px 0 13px;
						}
					}

					>span {
						color: $bl;
					}
				}
			}

			&:nth-child(3) {
				@media (min-width: $min_w) {
					max-width: 260px;
				}

				>div {
					>span {
						color: $pl;
					}
				}
			}

			&:nth-child(n+2) {
				@media (max-width: $max_w) {
					margin: 60px 0 0;
				}

				>div {
					&:nth-child(1) {
						&::before,
						&::after {
							width: 40px;
							height: 2px;
							position: absolute;
							content: '';
							background-color: $bk;

							@media (min-width: $min_w) {
								bottom: 50%;
								right: calc(100% + 15px);
							}

							@media (max-width: $max_w) {
								width: 30px;
								bottom: calc(100% + 30px);
								right: 50%;
							}
						}

						&::before {
							transform: translateY(50%) rotate(45deg);

							@media (max-width: $max_w) {
								transform: translateX(50%) rotate(45deg);
							}
						}

						&::after {
							transform: translateY(50%) rotate(-45deg);

							@media (max-width: $max_w) {
								transform: translateX(50%) rotate(-45deg);
							}
						}
					}
				}
			}
		}
	}

	.talk_body {
		margin: 60px auto 0;
		font-size: 18px;
		text-align: center;
		line-height: 3;
		letter-spacing: 2px;

		@media (max-width: $max_w) {
			width: 90%;
			font-size: 16px;
			line-height: 2.5;
			letter-spacing: 0;
		}
	}
}

.l_interview {
	width: 100%;
	padding: 80px 0;
	background-color: #fff;

	&:not(.is_show) {
		display: none;
	}

	@media (max-width: $max_w) {
		padding: 30px 0;
	}
}

.interview {
	.interview_head {
		text-align: center;
		line-height: 1;

		&:nth-child(n+2) {
			margin: 80px 0 0;

			@media (max-width: $max_w) {
				margin: 60px 0 0;
			}
		}

		span {
			color: $gl;
		}

		.interview_head_ttl {
			font-size: 40px;
			font-weight: 600;
			letter-spacing: 12px;

			@media (max-width: $max_w) {
				padding: 0 0 0 5px;
				font-size: 7vw;
				line-height: 1.8;
				letter-spacing: 8px;
			}
		}

		.interview_head_sub {
			margin: 20px 0 0;
			font-size: 10px;
			letter-spacing: 5px;

			@media (max-width: $max_w) {
				margin: 5px 0 0;
			}
		}
	}

	.interview_body {
		width: 90%;
		max-width: 800px;
		height: 30vh;
		margin: 30px auto 0;
		position: relative;
		overflow: scroll;
		font-size: 18px;
		line-height: 1.8;

		@media (max-width: $max_w) {
			height: 15vh;
			margin: 20px auto 0;
			font-size: 14px;
		}

		.interview_body_ttl {
			color: $gl;

			&:nth-child(n+2) {
				margin: 30px 0 0;
			}
		}

		.interview_body_txt {
			margin: 10px 0 0;
		}
	}

	.interview_foot {
		margin: 30px 0 0;

		@media (max-width: $max_w) {
			margin: 10px 0 0;
		}

		.interview_foot_txt {
			>div {
				text-align: center;

				span {
					color: $gl;
				}

				&:nth-child(1) {
					font-size: 36px;
					font-weight: 600;
					letter-spacing: 2px;

					@media (max-width: $max_w) {
						font-size: 18px;
					}
				}

				&:nth-child(2) {
					margin: 20px 0 0;
					font-size: 20px;
					line-height: 1.8;
					letter-spacing: 1px;

					@media (max-width: $max_w) {
						font-size: 14px;
					}
				}
			}
		}

		.interview_foot_btn {
			max-width: 330px;
			height: 62px;
			margin: 40px auto 0;
			font-size: 21px;

			@media (max-width: $max_w) {
				max-width: 255px;
				height: 50px;
				margin: 20px auto 0;
				font-size: 16px;
			}
		}
	}
}

.campaign {
	width: 90%;
	margin: auto;
	text-align: center;

	.campaign_txt {
		font-size: 18px;
		line-height: 3;
		letter-spacing: 2px;

		@media (max-width: $max_w) {
			font-size: 16px;
			line-height: 2.5;
			letter-spacing: 1px;
		}
	}

	.campaign_flow {
		margin: 30px 0 0;

		.campaign_flow_inner {
			margin: auto;
			padding: 10px;
			position: relative;
			font-size: 20px;
			line-height: 2;
			border: 1px solid $bk;

			@media (max-width: $max_w) {
				font-size: 16px;
			}

			>a {
				color: $pl;
				text-decoration: underline;
			}

			&:nth-child(n+2) {
				margin-top: 80px;

				&::after {
					width: 25px;
					height: 25px;
					position: absolute;
					bottom: calc(100% + 35px);
					right: 50%;
					z-index: 1;
					transform: translateX(50%) rotate(45deg);
					content: '';
					border-bottom: 1px solid $bk;
					border-right: 1px solid $bk;
				}
			}

			&:nth-child(1) {
				max-width: 750px;
			}

			&:nth-child(2) {
				max-width: 700px;
			}
		}
	}

	.campaign_period {
		max-width: 670px;
		margin: 40px auto 0;
		font-size: 20px;

		@media (min-width: $min_w) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
		}

		.campaign_period_ttl {
			width: 120px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			letter-spacing: 2px;
			border: 1px solid $bk;

			@media (max-width: $max_w) {
				width: 110px;
				margin: auto;
				letter-spacing: 1px;
			}
		}

		.campaign_period_body {
			width: calc(100% - 140px);
			letter-spacing: 2px;

			@media (max-width: $max_w) {
				width: 100%;
				margin: 5px 0 0;
				text-align: center;
				line-height: 1.8;
				letter-spacing: 0;
			}
		}
	}
}

.l_twdetail {
	width: 100%;
	padding: 80px 0;
	background-color: #fff;

	&:not(.is_show) {
		display: none;
	}

	@media (max-width: $max_w) {
		padding: 30px 0;
	}
}

.twdetail {
	.twdetail_head {
		text-align: center;
		line-height: 1;

		&:nth-child(n+2) {
			margin: 80px 0 0;

			@media (max-width: $max_w) {
				margin: 60px 0 0;
			}
		}

		span {
			color: $pl;
		}

		.twdetail_head_ttl {
			font-size: 40px;
			font-weight: 600;
			letter-spacing: 12px;

			@media (max-width: $max_w) {
				padding: 0 0 0 5px;
				font-size: 7vw;
				line-height: 1.8;
				letter-spacing: 5px;
			}
		}

		.twdetail_head_sub {
			margin: 20px 0 0;
			font-size: 10px;
			letter-spacing: 5px;

			@media (max-width: $max_w) {
				margin: 5px 0 0;
				letter-spacing: 1px;
			}
		}
	}

	.twdetail_body {
		width: 90%;
		max-width: 800px;
		height: 40vh;
		margin: 30px auto 0;
		position: relative;
		overflow: scroll;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 2px;

		@media (max-width: $max_w) {
			height: 30vh;
			margin: 30px auto 0;
			font-size: 16px;
			line-height: 1.5;
			letter-spacing: 0;
		}

		>a {
			color: $pl;
		}
	}

	.twdetail_foot {
		max-width: 400px;
		height: 62px;
		margin: 40px auto 0;
		font-size: 21px;
		letter-spacing: 5px;

		@media (max-width: $max_w) {
			max-width: 280px;
			height: 50px;
			font-size: 16px;
		}
	}
}

.art {
	.art_txt {
		width: 90%;
		margin: auto;
		font-size: 18px;
		text-align: center;
		line-height: 3;
		letter-spacing: 2px;

		@media (max-width: $max_w) {
			font-size: 16px;
			line-height: 2.5;
			letter-spacing: 1px;
		}
	}

	.art_list {
		max-width: 610px;
		margin: 80px auto 0;

		@media (min-width: $min_w) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}

		@media (max-width: $max_w) {
			margin: 40px auto 0;
		}

		.art_list_item {
			max-width: 220px;

			@media (min-width: $min_w) {
				&:nth-child(n+3) {
					margin: 60px 0 0;
				}
			}

			@media (max-width: $max_w) {
				margin: auto;

				&:nth-child(n+2) {
					margin-top: 50px;
				}
			}

			.art_list_item_link {
				position: relative;
				display: block;

				&::after {
					width: 80px;
					height: 80px;
					padding: 2px 0 2px 5px;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					right: 0;
					bottom: 0;
					overflow: hidden;
					content: '公開中';
					font-size: 20px;
					font-weight: 600;
					letter-spacing: 3px;
					color: #fff;
					background-color: $pn2;
					border-radius: 1000px;
					box-shadow: 65px 65px 40px -50px #000078 inset;
					transition: $sec box-shadow;
				}

				>img {
					position: relative;
					overflow: hidden;
					border-radius: 1000px;
					transition: $sec opacity;
				}
			}

			.art_list_item_txt {
				width: 100%;
				margin: 30px 0 0;
				display: block;
				transition: $sec opacity;

				>div {
					text-align: center;

					&:nth-child(1) {
						font-size: 24px;
						line-height: 1.8;
						letter-spacing: 3px;

						@media (max-width: $max_w) {
							font-size: 18px;
							letter-spacing: 2px;
						}

						>span {
							color: $pn2;
						}
					}

					&:nth-child(2) {
						width: 100%;
						margin: 5px 0 0;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 14px;
						text-align: center;
						text-decoration: underline;

						&::before {
							width: 17px;
							height: 14px;
							margin: 0 8px 0 0;
							display: inline-block;
							content: '';
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							background-image: url(../img/_btn_sns01.svg);
							transition: $sec opacity;
						}
					}
				}
			}

			&.art_list_item__disable {
				pointer-events: none;

				.art_list_item_link {
					&::after {
						display: none;
					}
				}
			}
		}
	}

	&:not(.art__tw) {
		.art_list {
			.art_list_item {
				.art_list_item_link {
					&::after {
						width: 64px;
						height: 64px;
						content: '見る';
					}

					@media (min-width: $min_w) {
						&:hover {
							&::after {
								box-shadow: -65px -65px 40px -50px #000078 inset;
							}

							>img {
								opacity: .8;
							}
						}
					}

					@media (max-width: $max_w) {
						&:active {
							&::after {
								box-shadow: -65px -65px 40px -50px #000078 inset;
							}

							>img {
								opacity: .8;
							}
						}
					}
				}

				.art_list_item_txt {
					@media (min-width: $min_w) {
						&:hover {
							opacity: .5;
						}
					}

					@media (max-width: $max_w) {
						&:active {
							opacity: .5;
						}
					}
				}
			}
		}
	}

	&.art__tw {
		.art_list {
			.art_list_item {
				@media (min-width: $min_w) {
					&:hover {
						.art_list_item_link {
							&::after {
								box-shadow: -65px -65px 40px -50px #000078 inset;
							}

							>img {
								opacity: .8;
							}
						}

						.art_list_item_txt {
							opacity: .5;
						}
					}
				}

				@media (max-width: $max_w) {
					&:active {
						.art_list_item_link {
							&::after {
								box-shadow: -65px -65px 40px -50px #000078 inset;
							}

							>img {
								opacity: .8;
							}
						}

						.art_list_item_txt {
							opacity: .5;
						}
					}
				}
			}
		}
	}
}

.l_illust {
	width: 100%;
	padding: 40px;
	background-color: #fff;

	&:not(.is_show) {
		display: none;
	}
}

.illust {
	position: relative;

	.illust_name {
		position: absolute;
		top: calc(100% + 10px);
		right: 0;
		font-size: 16px;
		font-weight: 600;
		line-height: 1;
		text-align: right;
	}
}

.outline {
	.outline_head {
		letter-spacing: 2px;
		line-height: 1;
		text-align: center;

		.outline_head_ttl {
			font-size: 24px;

			@media (max-width: $max_w) {
				font-size: 5vw;
			}

			>span {
				color: $or;
			}
		}

		.outline_head_sub {
			margin: 20px 0 0;
			font-size: 18px;

			@media (max-width: $max_w) {
				font-size: 16px;
				line-height: 2;
			}
		}

		&:nth-child(n+2) {
			margin: 80px 0 0;
		}
	}

	.outline_body {
		width: 90%;
		max-width: 500px;
		margin: 40px auto 0;

		.outline_body_inner {
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
			font-size: 20px;

			&:nth-child(n+2) {
				margin: 40px 0 0;
			}

			@media (max-width: $max_w) {
				font-size: 5vw;
			}

			.outline_body_inner_ttl {
				width: 120px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				letter-spacing: 2px;
				border: 1px solid $bk;

				@media (max-width: $max_w) {
					width: 110px;
					letter-spacing: 1px;
				}
			}

			.outline_body_inner_main {
				width: calc(100% - 140px);
				letter-spacing: 4px;

				@media (max-width: $max_w) {
					width: calc(100% - 130px);
					margin: 5px 0 0;
					letter-spacing: 2px;
				}

				>div {
					margin: 10px 0 0;
					font-size: 16px;
					letter-spacing: 2px;

					@media (max-width: $max_w) {
						font-size: 12px;
						letter-spacing: 0;
					}
				}
			}
		}

		.outline_body_img {
			max-width: 280px;
			margin: 40px auto 0;
		}
	}
}